<div matDialogTitle>{{ title }}</div>

<mat-dialog-content>{{ content }}</mat-dialog-content>

<mat-dialog-actions align="end">
    <button type="button" mat-button color="warn" (click)="close()">Close</button>
</mat-dialog-actions>