<mat-form-field fxFlex="auto">
    <mat-label>{{name | translate}} <span *ngIf="textExtra">{{textExtra | translate}}</span>
    </mat-label>
    <input matInput [matDatepicker]="picker1" [formControl]="control" placeholder="{{placeHolder | translate}}">
    <mat-datepicker-toggle matSuffix [for]="picker1" [matTooltip]="textTooltip | translate">
        <mat-icon matDatepickerToggleIcon *ngIf="startDate">today</mat-icon>
        <mat-icon matDatepickerToggleIcon *ngIf="!startDate">insert_invitation</mat-icon>
    </mat-datepicker-toggle>
    <mat-datepicker #picker1></mat-datepicker>
</mat-form-field>
