<fury-page-layout mode="simple">
    <fury-page-layout-header>
        <fury-breadcrumbs [@fadeInRight] [crumbs]="breadcrumbs" current="{{ currentEditor }}"></fury-breadcrumbs>
    </fury-page-layout-header>
    <fury-page-layout-content class="padding-0" [@fadeInUp]>
        <mat-tab-group>
            <mat-tab label="data">
                <form [formGroup]="editorFormData" (ngSubmit)="onSubmit(flight)">

                    <app-editor-buttons
                        [showSaveButton]="false"
                        [parentRoute]="parentRoute"
                        [id]="claim?.id"
                        [date]="claim?.finishedAt"
                        [textDate]="'finishedAt'"
                        [canUseFormOperation]="canUseFormOperation">
                    </app-editor-buttons>

                    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="8px">
                        <section class="mat-typography">
                            <h3>{{'titleBasicData' | translate}}</h3>
                        </section>
                    </div>
                    <mat-divider></mat-divider>

                    <div class="padding-top" fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="10px">
                        <mat-form-field fxFlex="25%" class="cursor-not-allowed">
                            <mat-label>{{'menuPropertyclaimStatusName' | translate}}</mat-label>
                            <input matInput type="text" placeholder="{{'menuPropertyclaimStatusName' | translate}}"
                                #claimStatusName readonly formControlName="claimStatusName" class="cursor-not-allowed">
                        </mat-form-field>
                        <mat-form-field fxFlex="25%" class="cursor-not-allowed">
                            <mat-label>{{'menuPropertyamountEstimated' | translate}}</mat-label>
                            <input matInput #amountEstimated formControlName="amountEstimated" type="number" readonly
                                placeholder="{{'menuPropertyamountEstimated' | translate}}" class="cursor-not-allowed">
                        </mat-form-field>
                        <mat-form-field fxFlex="25%">
                            <mat-label>{{'menuPropertyamountReceived' | translate}}</mat-label>
                            <input type="number" matInput #amountReceived formControlName="amountReceived"
                                placeholder="{{'menuPropertyamountReceived' | translate}}">
                        </mat-form-field>
                        <div fxFlex="auto" align="end">
                            <button type="button" mat-raised-button color="primary">
                                {{'btnChangeClaimStatus' | translate}}
                            </button>
                        </div>
                        <div fxFlex="auto" align="end" *ngIf="canCreateDemand">
                            <button (click)="generateDemand()" type="button" mat-raised-button color="primary">Create Claim DEMO //DEFINIR UBICACIÓN</button>
                        </div>
                    </div>
                    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="10px">
                        <mat-form-field fxFlex="25%">
                            <mat-label>{{'menuPropertycountryCompetence' | translate}}</mat-label>
                            <mat-select placeholder="{{'menuPropertycountryCompetence' | translate}}"
                                #claimCompetenceCountryId formControlName="claimCompetenceCountryId">
                                <mat-option>None</mat-option>
                                <mat-option *ngFor="let country of availableCountriesCompetence" value="{{country.id}}">
                                    {{country.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field fxFlex="25%">
                            <mat-label>{{'menuPropertycountryPlacement' | translate}}</mat-label>
                            <mat-select placeholder="{{'menuPropertycountryPlacement' | translate}}"
                                #claimPlacementCountryId formControlName="claimPlacementCountryId">
                                <mat-option>None</mat-option>
                                <mat-option *ngFor="let country of availableCountriesPlacement" value="{{country.id}}">
                                    {{country.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field fxFlex="25%">
                            <mat-label>{{'menuPropertylawsuiteTypeId' | translate}}</mat-label>
                            <mat-select placeholder="{{'menuPropertylawsuiteTypeId' | translate}}" #lawsuiteTypeId
                                formControlName="lawsuiteTypeId" required>
                                <mat-option *ngFor="let lawsuiteType of availableLawsuiteTypes"
                                    value="{{lawsuiteType.id}}">
                                    {{'lawsuiteTypeId' + lawsuiteType.id | translate}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="10px">
                        <mat-form-field fxFlex="25%">
                            <mat-label>{{'menuPropertylanguageName' | translate}}</mat-label>
                            <mat-select placeholder="{{'menuPropertylanguageName' | translate}}" #languageId
                                formControlName="languageId" required>
                                <mat-option *ngFor="let language of availableLanguages" value="{{language.id}}">
                                    {{language.code}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field fxFlex="25%">
                            <mat-label>{{'menuPropertyusername' | translate}}</mat-label>
                            <input matInput type="text" placeholder="{{'menuPropertyusername' | translate}}" #username
                                formControlName="username" [matAutocomplete]="autoUsername" tab-directive>
                            <mat-autocomplete #autoUsername="matAutocomplete">
                                <mat-option *ngFor="let user of filteredUsers | async" [value]="user.username">
                                    {{user.username}}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                    </div>

                    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="10px">
                        <section class="mat-typography">
                            <h3>{{'titleDisruptionInfo' | translate}}</h3>
                        </section>
                    </div>
                    <mat-divider></mat-divider>

                    <div class="padding-top" fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="10px">
                        <mat-form-field fxFlex="25%">
                            <mat-label>{{'menuPropertydisruptionTypeName' | translate}}</mat-label>
                            <mat-select placeholder="{{'menuPropertydisruptionTypeName' | translate}}" #disruptionTypeId
                                formControlName="disruptionTypeId" required>
                                <mat-option *ngFor="let disruptionType of availableDisruptionTypes"
                                    value="{{disruptionType.id}}">
                                    {{'disruptionTypeId' + disruptionType.id | translate}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field fxFlex="25%">
                            <mat-label>{{'menuPropertyreservationNumber' | translate}}</mat-label>
                            <input matInput #reservationNumber formControlName="reservationNumber" type="text"
                                placeholder="{{'menuPropertyreservationNumber' | translate}}" required>
                        </mat-form-field>
                        <mat-form-field fxFlex="25%">
                            <mat-label>{{'menuPropertyairlineReason' | translate}}</mat-label>
                            <mat-select placeholder="{{'menuPropertyairlineReason' | translate}}" #airlineReasonId
                                formControlName="airlineReasonId" required>
                                <mat-option *ngFor="let airlineReason of availableAirlineReasons"
                                    value="{{airlineReason.id}}">
                                    {{'airlineReasonId' + airlineReason.id | translate}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="10px">
                        <mat-form-field fxFlex="25%">
                            <mat-label>{{'menuPropertyairlineName' | translate}}</mat-label>
                            <input matInput type="text" placeholder="{{'menuPropertyairlineName' | translate}}"
                                #airlineNameAndIata formControlName="airlineNameAndIata"
                                [matAutocomplete]="autoAirlines" tab-directive required>
                            <mat-autocomplete #autoAirlines="matAutocomplete" autoActiveFirstOption="true">
                                <mat-option *ngFor="let airline of filteredAirlines | async"
                                    [value]="airline.nameAndIata">
                                    {{airline.nameAndIata}}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                        <mat-form-field fxFlex="25%">
                            <mat-label>{{'menuPropertyflightNumber' | translate}}</mat-label>
                            <input matInput type="text" placeholder="{{'menuPropertyflightNumber' | translate}}"
                                #flightNumber formControlName="flightNumber" required maxlength="7">
                        </mat-form-field>
                        <mat-form-field fxFlex="25%">
                            <mat-label>{{'menuPropertyflightDate' | translate}}</mat-label>
                            <input matInput [matDatepicker]="flightDateDPicker" #flightDate formControlName="flightDate"
                                placeholder="{{'menuPropertyflightDate' | translate}}">
                            <mat-datepicker-toggle matSuffix [for]="flightDateDPicker"></mat-datepicker-toggle>
                            <mat-datepicker #flightDateDPicker></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="10px">
                        <mat-form-field fxFlex="25%">
                            <mat-label>{{'menuPropertydepartureAirport' | translate}}</mat-label>
                            <input matInput type="text" placeholder="{{'menuPropertydepartureAirport' | translate}}"
                                #airportDepartureNameAndIata formControlName="airportDepartureNameAndIata"
                                [matAutocomplete]="autoDepAirports" tab-directive required>
                            <mat-autocomplete #autoDepAirports="matAutocomplete" autoActiveFirstOption="true">
                                <mat-option *ngFor="let airport of filteredDepartureAirports | async"
                                    [value]="airport.nameAndIata">
                                    {{airport.nameAndIata}}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                        <mat-form-field fxFlex="25%">
                            <mat-label>{{'menuPropertyarrivalAirport' | translate}}</mat-label>
                            <input matInput type="text" placeholder="{{'menuPropertyarrivalAirport' | translate}}"
                                #airportArrivalNameAndIata formControlName="airportArrivalNameAndIata"
                                [matAutocomplete]="autoArrAirports" tab-directive required>
                            <mat-autocomplete #autoArrAirports="matAutocomplete" autoActiveFirstOption="true">
                                <mat-option *ngFor="let airport of filteredArrivalAirports | async"
                                    [value]="airport.nameAndIata">
                                    {{airport.nameAndIata}}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                        <mat-form-field fxFlex="25%" class="cursor-not-allowed">
                            <mat-label>{{'menuPropertyflightDistance' | translate}}</mat-label>
                            <input matInput type="number" placeholder="{{'menuPropertyflightDistance' | translate}}"
                                #flightDistance formControlName="flightDistance" min="0" readonly
                                class="cursor-not-allowed">
                        </mat-form-field>
                    </div>
                    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="10px">
                        <mat-form-field fxFlex="25%">
                            <mat-label>{{'menuPropertydepartureScheduledTime' | translate}}</mat-label>
                            <input matInput type="datetime-local" #departureScheduledTime
                                formControlName="departureScheduledTime"
                                placeholder="{{'menuPropertydepartureScheduledTime' | translate}}">
                            <button class="clear-btn" color="accent" type="button" mat-button matSuffix mat-icon-button
                                matTooltip="{{'btnClear' | translate}}" (click)="clearInput('departureScheduledTime')">
                                <mat-icon>clear</mat-icon>
                            </button>
                        </mat-form-field>
                        <mat-form-field fxFlex="25%">
                            <mat-label>{{'menuPropertydepartureActualTime' | translate}}</mat-label>
                            <input matInput type="datetime-local" #departureActualTime
                                formControlName="departureActualTime"
                                placeholder="{{'menuPropertydepartureActualTime' | translate}}">
                            <button class="clear-btn" color="accent" type="button" mat-button matSuffix mat-icon-button
                                matTooltip="{{'btnClear' | translate}}" (click)="clearInput('departureActualTime')">
                                <mat-icon>clear</mat-icon>
                            </button>
                        </mat-form-field>
                        <mat-form-field fxFlex="25%">
                            <mat-label>{{'menuPropertyarrivalScheduledTime' | translate}}</mat-label>
                            <input matInput type="datetime-local" #arrivalScheduledTime
                                formControlName="arrivalScheduledTime"
                                placeholder="{{'menuPropertyarrivalScheduledTime' | translate}}">
                            <button class="clear-btn" color="accent" type="button" mat-button matSuffix mat-icon-button
                                matTooltip="{{'btnClear' | translate}}" (click)="clearInput('arrivalScheduledTime')">
                                <mat-icon>clear</mat-icon>
                            </button>
                        </mat-form-field>
                        <mat-form-field fxFlex="25%">
                            <mat-label>{{'menuPropertyarrivalActualTime' | translate}}</mat-label>
                            <input matInput type="datetime-local" #arrivalActualTime formControlName="arrivalActualTime"
                                placeholder="{{'menuPropertyarrivalActualTime' | translate}}">
                            <button class="clear-btn" color="accent" type="button" mat-button matSuffix mat-icon-button
                                matTooltip="{{'btnClear' | translate}}" (click)="clearInput('arrivalActualTime')">
                                <mat-icon>clear</mat-icon>
                            </button>
                        </mat-form-field>
                    </div>
                    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="10px">
                        <section class="mat-typography">
                            <h4>{{'titleConnectionFlight' | translate}}</h4>
                        </section>
                    </div>
                    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="10px">
                        <div class="mat-elevation-z8" fxFlex="auto">
                            <table mat-table [dataSource]="dataConnFlightsTable" matSort #ConnFlightsMatSort="matSort">
                                <ng-container *ngFor="let column of columnsConnFlightsTable | sortBy:'asc':'order'">
                                    <ng-container *ngIf="column.name !== 'actions'" [matColumnDef]="column.name">
                                        <th *matHeaderCellDef mat-header-cell mat-sort-header>
                                            {{ 'menuProperty' + column.name | translate }}
                                        </th>
                                        <td class="clickable" *matCellDef="let connFlight" mat-cell
                                            (click)="openEditConnectionFlight(connFlight, $event)">
                                            <span *ngIf="!column?.isDate && !column?.isNumber">
                                                {{ connFlight[column.name] }}
                                            </span>
                                            <span *ngIf="column?.isDate">
                                                {{ connFlight[column.name] | date : 'dd/MM/yyyy HH:mm' }}
                                            </span>
                                            <span *ngIf="column?.isNumber">
                                                {{ connFlight[column.name] | number : '1.2-2' }}
                                            </span>
                                        </td>
                                    </ng-container>
                                </ng-container>

                                <ng-container matColumnDef="actions">
                                    <th mat-header-cell *matHeaderCellDef class="align-end-content">
                                        <button type="button" mat-mini-fab matTooltip="{{'btnCreate' | translate}}"
                                            color="accent" (click)="openAddConnectionFlight()">
                                            <mat-icon>add</mat-icon>
                                        </button>
                                    </th>
                                    <td mat-cell *matCellDef="let connFlight" class="align-end-content">
                                        <button type="button" mat-icon-button matTooltip="delete" color="primary"
                                            (click)="deleteConnectionFlight(connFlight.connectionFlightId)">
                                            <mat-icon>delete</mat-icon>
                                        </button>
                                    </td>
                                </ng-container>

                                <tr mat-header-row *matHeaderRowDef="visibleColumnsConnFlightsTable"></tr>
                                <tr mat-row *matRowDef="let connFlight; columns: visibleColumnsConnFlightsTable;"></tr>
                            </table>
                            <mat-paginator #ConnFlightsMatPaginator="matPaginator" [pageSize]="pageSize"
                                [pageSizeOptions]="pageSizeOptions"></mat-paginator>
                        </div>
                    </div>

                    <div class="padding-top" fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="10px">
                        <section class="mat-typography">
                            <h3>{{'titleAditionalInfo' | translate}}</h3>
                        </section>
                    </div>
                    <mat-divider></mat-divider>
                    <div class="padding-top" fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="10px">
                        <mat-form-field fxFlex="25%">
                            <mat-label>{{'menuPropertyairlineAlternativeId' | translate}}</mat-label>
                            <mat-select placeholder="menuPropertyairlineAlternativeId" #airlineAlternativeId required
                                formControlName="airlineAlternativeId">
                                <mat-option *ngFor="let airlineAlternative of availableAirlineAlternatives"
                                    value="{{airlineAlternative.id}}">
                                    {{'airlineAlternativeId' + airlineAlternative.id | translate}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="10px"
                            *ngIf="showAirlineCompensation">
                            <mat-form-field fxFlex="auto">
                                <mat-label>{{'menuPropertyamountInitialCompensation' | translate}}</mat-label>
                                <input matInput #amountInitialCompensation formControlName="amountInitialCompensation"
                                    type="number" placeholder="{{'menuPropertyamountInitialCompensation' | translate}}"
                                    min="0">
                            </mat-form-field>
                        </div>
                    </div>
                    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="10px">
                        <mat-form-field fxFlex="auto">
                            <mat-label>{{'menuPropertydescription' | translate}}</mat-label>
                            <textarea matInput #description formControlName="description" rows="7"></textarea>
                        </mat-form-field>
                    </div>

                    <ng-container *ngIf="showLuggageInfo">
                        <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="10px">
                            <section class="mat-typography">
                                <h4>{{'titleLuggageInfo' | translate}}</h4>
                            </section>
                        </div>
                        <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="10px">
                            <mat-form-field fxFlex="25%" *ngIf="actualDisruptionSelected === luggageDelayId">
                                <mat-label>{{'menuPropertyluggageReceivedAt' | translate}}</mat-label>
                                <input matInput [matDatepicker]="luggageReceivedAtDPicker" #luggageReceivedAt required
                                    formControlName="luggageReceivedAt"
                                    placeholder="{{'menuPropertyluggageReceivedAt' | translate}}">
                                <mat-datepicker-toggle matSuffix [for]="luggageReceivedAtDPicker">
                                </mat-datepicker-toggle>
                                <mat-datepicker #luggageReceivedAtDPicker></mat-datepicker>
                            </mat-form-field>
                            <mat-form-field fxFlex="25%">
                                <mat-label>{{'menuPropertyluggageIssueMoment' | translate}}</mat-label>
                                <mat-select placeholder="{{'menuPropertyluggageIssueMoment' | translate}}"
                                    #luggageIssueMomentId required formControlName="luggageIssueMomentId">
                                    <mat-option *ngFor="let luggageIssueMoment of availableLuggageIssueMoments"
                                        value="{{luggageIssueMoment.id}}">
                                        {{'luggageIssueMomentId' + luggageIssueMoment.id | translate}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="10px"
                            *ngIf="actualDisruptionSelected === luggageDamageId">
                            <mat-form-field fxFlex="auto">
                                <mat-label>{{'menuPropertyluggageDamageDescription' | translate}}</mat-label>
                                <textarea matInput #luggageDamageDescription formControlName="luggageDamageDescription"
                                    rows="5"></textarea>
                            </mat-form-field>
                        </div>
                    </ng-container>
                </form>
            </mat-tab>
        </mat-tab-group>
    </fury-page-layout-content>
</fury-page-layout>
