$light-grey: rgba(0, 0, 0, 0.04);

table.mat-table {
    width: 100%;
    .mat-row:hover {
        background: $light-grey;
    }
    .clickable {
        cursor: pointer;
    }
    .align-end-content {
        text-align: end;
    }
}