<div class="fury-list-table">
    <div class="fury-list-header" *ngIf="!hideHeader" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px"
        fxLayoutGap.gt-xs="24px">
        <div class="fury-list-name">{{ name }}</div>

        <div fxLayout="row" fxLayoutAlign="start center" fxFlex>
            <mat-icon class="fury-filter-input-icon">search</mat-icon>
            <input [disabled]="isDisabled" fxFlex class="fury-filter-input" #filter placeholder="Search&hellip;">
        </div>

        <button [disabled]="isDisabled" class="fury-column-filter" type="button" matTooltip="Basic search" mat-icon-button
            [matMenuTriggerFor]="columnFilter">
            <mat-icon [color]="searchFilterActivated ? 'accent' : ''">filter_list</mat-icon>
        </button>

        <button [disabled]="isDisabled" class="fury-column-filter" type="button" matTooltip="Show advanced filters" mat-icon-button
            *ngIf="hasAdvancedFilter" (click)="showAdvancedFilter()">
            <mat-icon [color]="advancedFilterActivated ? 'accent' : ''">zoom_in</mat-icon>
        </button>

        <div id="clear" #clear >
            <button [disabled]="isDisabled" class="fury-column-filter last" matTooltip="Clear all filters" mat-icon-button>
                <mat-icon [color]="searchFilterActivated || advancedFilterActivated  ? 'warn' : ''">refresh</mat-icon>
            </button>
        </div>

        <ng-content select=".actions"></ng-content>
    </div>

    <div [style.display]="hideAdvancedFilter ? 'none' : 'block'">
        <ng-content select=".advanced-filters"></ng-content>
    </div>

    <mat-menu #columnFilter="matMenu" yPosition="below" xPosition="before">
        <button class="checkbox-item mat-menu-item" *ngFor="let column of columns | menuFilterOptions"
            (click)="columnUsedToFilter(column, $event)">
            <mat-checkbox [(ngModel)]="column.isFilterSelected" class="checkbox" (click)="$event.stopPropagation()">
                {{ 'menuProperty' + column.name | translate }}
            </mat-checkbox>
        </button>
    </mat-menu>

    <ng-content></ng-content>
</div>
