<div matDialogTitle>{{ title }}</div>

<mat-dialog-content>
    <mat-grid-list cols="2" rowHeight="40px">
        <mat-grid-tile *ngFor="let option of optionsAvailable">
            <mat-checkbox matInput [checked]="option.selected" value="{{option.id}}"
                (change)="updateCheckedOption(option.id, $event)" color="primary">
                {{option.name}}
            </mat-checkbox>
        </mat-grid-tile>
    </mat-grid-list>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button type="button" mat-button color="accent" (click)="save()">Save</button>
    <button type="button" mat-button color="primary" (click)="close()">Close</button>
</mat-dialog-actions>