<div class="toolbar-user" (appClickOutside)="onClickOutside()" fxFlex="grow">
    <button class="button" mat-button (click)="toggleDropdown()" [class.open]="isOpen" fxFlex="grow">
        <span fxLayout="row" fxLayoutAlign="start center">
            <img class="avatar" src="assets/img/avatars/{{userLoggedData.username}}.png">
            <span class="name" fxHide fxShow.gt-sm>{{ userLoggedData.name }}</span>
            <mat-icon class="icon" fxHide fxShow.gt-sm>keyboard_arrow_down</mat-icon>
        </span>
    </button>

    <div class="dropdown" [class.open]="isOpen">
        <div class="content">
            <div class="list">
                <mat-divider></mat-divider>
                <div class="list-item" matRipple (click)="logOut()">
                    <mat-icon class="list-item-icon">exit_to_app</mat-icon>
                    <span>Logout</span>
                </div>
            </div>
        </div>
    </div>
</div>