<div class="toolbar" fxLayout="row" fxLayoutAlign="space-between">
	<div fxLayout="row" fxLayoutAlign="start center">
		<app-toolbar-sidenav-mobile-toggle (openSidenav)="openSidenav.emit()"></app-toolbar-sidenav-mobile-toggle>
		<div [fxShow.gt-sm]="topNavigation$ | async" [fxShow.xs]="false" [routerLink]="['/']" class="toolbar-logo"
			fxShow>
			<img class="sidenav-logo" src="assets/img/statia_transparente.png">
		</div>
	</div>

	<div fxLayout="row">
		<app-toolbar-languages class="toolbar-button"></app-toolbar-languages>
		<app-toolbar-user class="toolbar-button"></app-toolbar-user>
	</div>
</div>