<fury-page-layout mode="simple">
    <fury-page-layout-header>
        <fury-breadcrumbs [@fadeInRight] [crumbs]="breadcrumbs" current="{{ currentEditor }}"></fury-breadcrumbs>
    </fury-page-layout-header>
    <fury-page-layout-content class="padding-0" [@fadeInUp]>

        <ng-container *ngIf="id && editorFormData">
            <form [formGroup]="editorFormData" (ngSubmit)="onSubmit()">
                <app-editor-buttons
                    [parentRoute]="parentRoute"
                    [id]="id"
                    [textId]="'demandId'"
                    [date]="demand?.updatedAt"
                    [isInvalid]="editorFormData?.invalid || demand?.cancelledAt !== null"
                    [isDisabled]="isLoading"
                    [canUseFormOperation]="canUseFormOperation"
                    [messageOption]="demand?.cancelledAt !== null ? 'msgdemandCancelled' : null"
                    >
                </app-editor-buttons>

                <div fxLayout="column" fxLayoutGap.gt-sm="8px">
                    <section class="mat-typography">
                        <h4>{{'titleClaimData' | translate}}</h4>
                    </section>
                </div>
                <mat-divider></mat-divider>

                <div class="padding-top" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start stretch">
                    <mat-form-field fxFlex="20%" class="cursor-not-allowed">
                        <mat-label>{{'menuPropertydisruptionTypeId' | translate}}</mat-label>
                        <input matInput #disruptionTypeId formControlName="disruptionTypeId" type="text" readonly
                        placeholder="{{'menuPropertydisruptionTypeId' | translate}}" class="cursor-not-allowed">
                    </mat-form-field>

                    <mat-form-field fxFlex="20%" class="cursor-not-allowed">
                        <mat-label>{{'menuPropertylawsuiteTypeId' | translate}}</mat-label>
                        <input matInput #lawsuiteTypeId formControlName="lawsuiteTypeId" type="text" readonly
                        placeholder="{{'menuPropertylawsuiteTypeId' | translate}}" class="cursor-not-allowed">
                    </mat-form-field>

                    <mat-form-field fxFlex="20%" class="cursor-not-allowed">
                        <mat-label>{{'menuPropertyairlineName' | translate}}</mat-label>
                        <input matInput formControlName="airlineName" type="text" readonly
                        placeholder="{{'menuPropertyairlineName' | translate}}" class="cursor-not-allowed">
                    </mat-form-field>

                    <div fxFlex="auto" fxLayoutAlign="center start" *ngIf="demand?.cancelledAt === null">
                        <button type="button" mat-raised-button color="warn" (click)="cancelDemand()" [disabled]="isLoading">
                            {{'btnCancelDemand' | translate}}
                        </button>
                    </div>
                </div>

                <div fxLayout="column" fxLayoutGap.gt-sm="8px">
                    <section class="mat-typography">
                        <h3>{{'titleCourtData' | translate}}</h3>
                    </section>
                </div>
                <mat-divider></mat-divider>

                <div class="padding-top" fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="8px">

                    <mat-form-field fxFlex="20%">
                        <mat-label>{{'menuPropertycourtTypeId' | translate}}</mat-label>
                        <input matInput [formControlName]="'courtCityAndCourtType'"
                            placeholder="{{'menuPropertycourtTypeId' | translate}}" type="text"
                            [matAutocomplete]="autoCourt">
                        <mat-autocomplete #autoCourt="matAutocomplete">
                            <mat-option *ngFor="let item of filteredCourts | async" [value]="item['courtCityAndCourtType']">
                                {{item['courtCityAndCourtType']}}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>

                    <mat-form-field fxFlex="10%">
                        <mat-label>{{'menuPropertycourtNumber'| translate}}</mat-label>
                        <mat-select [formControl]="editorFormData.get('courtNumber')" [value]="defaultCourtNumber"
                            placeholder="{{'menuPropertycourtNumber'| translate}}" type="number">
                            <mat-option *ngFor="let item of filteredCourtNumbers | async" value="{{item['number']}}">
                                <ng-container>{{item['number']}}</ng-container>
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="padding-top-0" fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="8px">
                    <p  class="margin-top-0">
                        <span class="secondary-text padding-left-10">{{'menuPropertyaddressColon' | translate}}</span>
                            {{selectCourtNumber?.address}}
                        <span class="secondary-text padding-left-10">{{'menuPropertypostalCodeColon' | translate}}</span>
                            {{selectCourtNumber?.postalCode}}
                        <span class="secondary-text padding-left-10">{{'menuPropertyfaxColon' | translate}}</span>
                            {{selectCourtNumber?.fax}}
                        <span class="secondary-text padding-left-10">{{'menuPropertyphoneColon' | translate}}</span>
                            {{selectCourtNumber?.phone}}
                    </p>
                </div>

                <div fxLayout="column" fxLayoutGap.gt-sm="8px">
                    <section class="mat-typography">
                        <h3>{{'titleDemandData' | translate}}</h3>
                    </section>
                </div>
                <mat-divider></mat-divider>

                <div class="padding-top" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start stretch">
                    <mat-form-field fxFlex="20%" class="cursor-not-allowed">
                        <mat-label>{{'menuPropertydemandId' | translate}}</mat-label>
                        <input matInput #demandId formControlName="demandId" type="text" class="cursor-not-allowed"
                            placeholder="{{'menuPropertydemandId' | translate}}" maxlength="125" readonly>
                    </mat-form-field>

                    <mat-form-field fxFlex="20%">
                        <mat-label>{{'menuPropertyprocedureNumber' | translate}}</mat-label>
                        <input matInput #procedureNumber formControlName="procedureNumber" type="text"
                            placeholder="{{'menuPropertyprocedureNumber' | translate}}" maxlength="125">
                    </mat-form-field>

                     <mat-form-field fxFlex="20%">
                        <mat-label>{{'menuPropertyjudgementNumber' | translate}}</mat-label>
                        <input matInput #judgementNumber formControlName="judgementNumber"  type="text"
                            placeholder="{{'menuPropertyjudgementNumber' | translate}}" maxlength="125">
                    </mat-form-field>
                </div>

                <div class="padding-top" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start stretch">
                    <mat-form-field fxFlex="20%">
                        <mat-label>{{'menuPropertyamountRequested' | translate}}</mat-label>
                        <input matInput #amountRequested formControlName="amountRequested" type="number"
                            placeholder="{{'menuPropertyamountRequested' | translate}}" pattern="^\d*(\.\d{0,2})?$" required>
                    </mat-form-field>

                    <mat-form-field fxFlex="20%">
                        <mat-label>{{'menuPropertyamountReceived' | translate}}</mat-label>
                        <input matInput #amountReceived formControlName="amountReceived" type="number"
                            placeholder="{{'menuPropertyamountReceived' | translate}}" pattern="^\d*(\.\d{0,2})?$">
                    </mat-form-field>

                    <mat-form-field fxFlex="20%">
                        <mat-label>{{'menuPropertyamountInterests' | translate}}</mat-label>
                        <input matInput #amountInterests formControlName="amountInterests" type="number"
                            placeholder="{{'menuPropertyamountInterests' | translate}}" pattern="^\d*(\.\d{0,2})?$" >
                    </mat-form-field>
                </div>

                <div class="padding-top" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start stretch">
                    <app-date-picker fxFlex="20%"
                        [name]="'menuPropertypresentedAt'"
                        [control]="editorFormData.get('presentedAt')">
                    </app-date-picker>

                    <app-date-picker fxFlex="20%"
                        [name]="'menuPropertyadmittedAt'"
                        [control]="editorFormData.get('admittedAt')">
                    </app-date-picker>

                    <app-date-picker fxFlex="20%"
                        [name]="'menuPropertyjudgedAt'"
                        [control]="editorFormData.get('judgedAt')">
                    </app-date-picker>

                    <app-date-picker fxFlex="20%"
                        [name]="'menuPropertycancelledAt'"
                        [control]="editorFormData.get('cancelledAt')">
                    </app-date-picker>
                </div>

                <div class="padding-top" fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="10px">
                    <mat-form-field fxFlex="auto">
                        <mat-label>{{'menuPropertycomments' | translate}}</mat-label>
                        <textarea matInput #comments formControlName="comments" rows="5"></textarea>
                    </mat-form-field>
                </div>

            </form>

        </ng-container>

    </fury-page-layout-content>
</fury-page-layout>
