<div matDialogTitle>{{ title }}</div>

<mat-dialog-content class="mat-dialog-content-menu-property">
    <form [formGroup]="editorFormProperty">
        <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="10px" fxLayoutAlign="start center">
            <mat-form-field >
                <mat-label>field</mat-label>
                <input matInput #field formControlName="field" type="text" placeholder="field" maxlength="75"
                    required>
            </mat-form-field>
            <mat-form-field>
                <mat-label>sort</mat-label>
                <input matInput #sort formControlName="sort" type="number" placeholder="sort" min="0">
            </mat-form-field>
        </div>

        <div class="padding-top-10" fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="10px">
            <mat-checkbox matInput [checked]="false" color="primary" #filter formControlName="filter" fxFlex="33%">
                filter
            </mat-checkbox>
            <mat-checkbox matInput [checked]="false" color="primary" #isAdvancedFilter formControlName="isAdvancedFilter"
                fxFlex="33%">
                isAdvancedFilter
            </mat-checkbox>
            <mat-checkbox matInput [checked]="false" color="primary" #isFilterSelected
                formControlName="isFilterSelected" fxFlex="33%">
                isFilterSelected
            </mat-checkbox>
            <mat-checkbox matInput [checked]="false" color="primary" #isFilterSelected
                formControlName="onlyForAdmin" fxFlex="33%">
                onlyForAdmin
            </mat-checkbox>
        </div>
        <div class="padding-top-20" fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="10px">
            <mat-checkbox matInput [checked]="false" color="primary" #isBoolean formControlName="isBoolean" fxFlex="33%">
                isBoolean
            </mat-checkbox>
            <mat-checkbox matInput [checked]="false" color="primary" #isNumber formControlName="isNumber" fxFlex="33%">
                isNumber
            </mat-checkbox>
            <mat-checkbox matInput [checked]="false" color="primary" #isDate formControlName="isDate" fxFlex="33%">
                isDate
            </mat-checkbox>
            <mat-checkbox matInput [checked]="false" color="primary" #isDate formControlName="isSimpleFilter" fxFlex="33%">
                isSimpleFilter
            </mat-checkbox>
        </div>

        <div class="padding-top-20" fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="10px">
            <mat-checkbox matInput [checked]="false" color="primary" #canBeTranslated formControlName="canBeTranslated" fxFlex="33%">
                canBeTranslated
            </mat-checkbox>
        </div>
    </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button type="button" mat-button color="accent" (click)="save()">Save</button>
    <button type="button" mat-button color="primary" (click)="close()">Close</button>
</mat-dialog-actions>
