<fury-page-layout mode="simple">
    <fury-page-layout-header>
        <fury-breadcrumbs [@fadeInRight] [crumbs]="breadcrumbs" current="{{ currentEditor }}"></fury-breadcrumbs>
    </fury-page-layout-header>
    <fury-page-layout-content class="padding-0" [@fadeInUp]>
        <mat-tab-group>
            <mat-tab label="data">
                <form [formGroup]="editorFormData" (ngSubmit)="onSubmit()">
                    <div class="padding-top" fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="10px"
                        fxLayoutAlign="end stretch">
                        <button mat-fab color="primary" type="button" [routerLink]="[parentRoute]" matTooltip="back">
                            <mat-icon>arrow_back</mat-icon>
                        </button>
                        <button mat-fab color="accent" type="submit">
                            <mat-icon>save</mat-icon>
                        </button>
                    </div>
                    <div class="padding-top" fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="10px">
                        <mat-grid-list cols="7">
                            <mat-form-field>
                                <mat-label>name</mat-label>
                                <input matInput #name formControlName="name" type="text" placeholder="name" maxlength="50"
                                    required>
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>parent menu</mat-label>
                                <mat-select placeholder="parent menu" #parentId formControlName="parentId">
                                    <mat-option>Is parent menu</mat-option>
                                    <mat-option *ngFor="let menu of availableMenus" value="{{menu.id}}">
                                        {{menu.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field floatPlaceholder="never">
                                <mat-label>icon</mat-label>
                                <input matInput #icon formControlName="icon" [formControl]="iconCtrl"
                                    (change)="checkIconValue($event)" maxlength="50">
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>position</mat-label>
                                <input matInput #position formControlName="position" type="number" placeholder="position"
                                    required>
                            </mat-form-field>
                            <mat-checkbox matInput [checked]="false" color="primary" #hasCheckbox formControlName="hasCheckbox">
                                hasCheckbox
                            </mat-checkbox>
                            <mat-checkbox matInput [checked]="false" color="primary" #hasTableMenu
                                formControlName="hasTableMenu">
                                hasTableMenu
                            </mat-checkbox>
                            <mat-checkbox matInput [checked]="false" color="primary" #hasMultipleDelete
                                formControlName="hasMultipleDelete">
                                hasMultipleDelete
                            </mat-checkbox>
                        </mat-grid-list>
                        <div class="icon-list" furyScrollbar>
                            <div class="icon" *ngFor="let icon of filteredIcons$ | async"
                                [class.icon-selected]="icon==menu.icon" (click)="selectIcon(icon)">
                                <mat-icon>{{ icon }}</mat-icon>
                                <div class="icon-name">{{ icon }}</div>
                            </div>
                        </div>
                    </div>
                </form>
            </mat-tab>
            <mat-tab label="properties" *ngIf="formAction === 'edit'">
                <div class="padding-top" fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="10px"
                    fxLayoutAlign="end stretch">
                    <button mat-fab color="primary" type="button" [routerLink]="[parentRoute]" matTooltip="back">
                        <mat-icon>arrow_back</mat-icon>
                    </button>
                </div>
                <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="10px">
                    <mat-form-field fxFlex="50%">
                        <mat-label>Search</mat-label>
                        <input matInput (keyup)="propertiesTableFilter($event)" placeholder="Search">
                    </mat-form-field>
                </div>
                <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="10px">
                    <div class="mat-elevation-z8" fxFlex="auto">
                        <table mat-table [dataSource]="dataPropertiesTable" matSort #PropertiesMatSort="matSort">

                            <ng-container *ngFor="let column of columnsPropertiesTable">
                                <ng-container *ngIf="column.name !== 'actions'" [matColumnDef]="column.name">
                                    <th *matHeaderCellDef mat-header-cell mat-sort-header> {{ column.name }}</th>
                                    <td *matCellDef="let row" mat-cell (click)="openEditProperty(row)">
                                        <span *ngIf="!column.isBoolean && column.name !== 'icon'">
                                            {{ row[column.name] }}
                                        </span>
                                        <mat-icon *ngIf="!column.isBoolean && column.name === 'icon'" color="primary"
                                            matTooltip="{{ row[column.name] }}">
                                            {{ row[column.name] }}
                                        </mat-icon>
                                        <mat-icon color="accent" matTooltip="active"
                                            *ngIf="column.isBoolean && row[column.name] && column.name !== 'icon'">
                                            check
                                        </mat-icon>
                                        <mat-icon color="primary" matTooltip="inactive"
                                            *ngIf="column.isBoolean && !row[column.name] && column.name !== 'icon'">
                                            clear
                                        </mat-icon>
                                    </td>
                                </ng-container>
                            </ng-container>

                            <ng-container matColumnDef="actions">
                                <th mat-header-cell *matHeaderCellDef class="align-end-content">
                                    <button mat-mini-fab matTooltip="create" color="accent"
                                        (click)="openAddProperty()">
                                        <mat-icon>add</mat-icon>
                                    </button>
                                </th>
                                <td mat-cell *matCellDef="let element" class="align-end-content">
                                    <button mat-icon-button matTooltip="delete" color="primary"
                                        (click)="deleteProperty(element.field)">
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="visibleColumnsPropertiesTable"></tr>
                            <tr mat-row class="clickable route-animations-elements"
                                *matRowDef="let row; columns: visibleColumnsPropertiesTable;"></tr>
                        </table>
                        <mat-paginator #PropertiesMatPaginator="matPaginator" [pageSizeOptions]="pageSizeOptions"
                            [pageSize]="pageSize"></mat-paginator>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="options" *ngIf="formAction === 'edit'">
                <div class="padding-top" fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="10px"
                    fxLayoutAlign="end stretch">
                    <button mat-fab color="primary" type="button" [routerLink]="[parentRoute]" matTooltip="back">
                        <mat-icon>arrow_back</mat-icon>
                    </button>
                </div>
                <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="10px">
                    <mat-form-field fxFlex="50%">
                        <mat-label>Search</mat-label>
                        <input matInput (keyup)="optionsTableFilter($event)" placeholder="Search">
                    </mat-form-field>
                </div>
                <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="10px">
                    <div class="mat-elevation-z8" fxFlex="auto">

                        <table mat-table [dataSource]="dataOptionsTable" matSort #OptionsMatSort="matSort">

                            <ng-container *ngFor="let column of columnsOptionsTable">
                                <ng-container *ngIf="column.name !== 'actions'" [matColumnDef]="column.name">
                                    <th *matHeaderCellDef mat-header-cell mat-sort-header> {{ column.name }}</th>
                                    <td *matCellDef="let row" mat-cell matTooltip="Can't be edited">
                                        <span *ngIf="!column.isBoolean && column.name !== 'icon'">
                                            {{ row[column.name] }}
                                        </span>
                                        <mat-icon *ngIf="!column.isBoolean && column.name === 'icon'" color="primary"
                                            matTooltip="{{ row[column.name] }}">
                                            {{ row[column.name] }}
                                        </mat-icon>
                                        <mat-icon color="accent" matTooltip="active"
                                            *ngIf="column.isBoolean && row[column.name] && column.name !== 'icon'">
                                            check
                                        </mat-icon>
                                        <mat-icon color="primary" matTooltip="inactive"
                                            *ngIf="column.isBoolean && !row[column.name] && column.name !== 'icon'">
                                            clear
                                        </mat-icon>
                                    </td>
                                </ng-container>
                            </ng-container>

                            <ng-container matColumnDef="actions">
                                <th mat-header-cell *matHeaderCellDef class="align-end-content">
                                    <button mat-mini-fab matTooltip="create" color="accent"
                                        (click)="openAddOptions()">
                                        <mat-icon>add</mat-icon>
                                    </button>
                                </th>
                                <td mat-cell *matCellDef="let element" class="align-end-content">
                                    <button mat-icon-button matTooltip="delete" color="primary"
                                        (click)="deleteOption(element.id)">
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="visibleColumnsOptionsTable"></tr>
                            <tr mat-row *matRowDef="let row; columns: visibleColumnsOptionsTable;"></tr>
                        </table>
                        <mat-paginator #OptionsMatPaginator="matPaginator" [pageSizeOptions]="pageSizeOptions"
                            [pageSize]="pageSize"></mat-paginator>

                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
    </fury-page-layout-content>
</fury-page-layout>
