<div class="sidenav" fxLayout="column">
    <div class="sidenav-toolbar" fxLayout="row" fxLayoutAlign="start center">
        <div class="sidenav-toolbar-icon">
        </div>
        <div [routerLink]="['/']" class="sidenav-toolbar-logo">
            <img class="sidenav-logo" src="assets/img/statia_transparente_blanco.png">
        </div>
    </div>

    <app-scrollbar class="sidenav-items" fxFlex="auto">
        <div *ngIf="sidenavUserVisible$ | async" class="sidenav-user">
            <img class="sidenav-user-image" src="assets/img/avatars/{{userLoggedData.username}}.png">
            <h4 class="sidenav-user-name">{{ userLoggedData.completeName }}</h4>
            <h5 class="sidenav-user-department">{{ userLoggedData.roleName }}</h5>
        </div>
        <app-sidenav-item *ngFor="let item of items$ | async" [item]="item" [level]="0"></app-sidenav-item>
    </app-scrollbar>

</div>
