<fury-page-layout mode="simple">
    <fury-page-layout-header>
        <fury-breadcrumbs [@fadeInRight] [crumbs]="breadcrumbs" current="{{ currentEditor }}"></fury-breadcrumbs>
    </fury-page-layout-header>

    <fury-page-layout-content class="padding-0" [@fadeInUp]>
        <mat-tab-group>
            <mat-tab label="{{'tabData'| translate}}" *ngIf="editorFormData">
                <form [formGroup]="editorFormData" (ngSubmit)="onSubmit()">
                    <app-editor-buttons
                        [parentRoute]="parentRoute"
                        [id]="client?.id"
                        [date]="client?.updatedAt"
                        [isInvalid]="editorFormData.invalid"
                        [isDisabled]="isLoading"
                        [canUseFormOperation]="canUseFormOperation">
                    </app-editor-buttons>

                    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="8px">
                        <section class="mat-typography">
                            <h3>{{'titlePersonalInfo' | translate}}</h3>
                        </section>
                    </div>
                    <mat-divider></mat-divider>

                    <div class="padding-top" fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="10px">
                        <mat-form-field fxFlex="20%">
                            <mat-label>{{'menuPropertyname' | translate}}</mat-label>
                            <input matInput #name formControlName="name" type="text"
                                placeholder="{{'menuPropertyname' | translate}}" maxlength="125" required>
                        </mat-form-field>

                        <mat-form-field fxFlex="25%">
                            <mat-label>{{'menuPropertysurnames' | translate}}</mat-label>
                            <input matInput #surnames formControlName="surnames" type="text"
                                placeholder="{{'menuPropertysurnames' | translate}}" maxlength="255" required>
                        </mat-form-field>

                        <mat-form-field fxFlex="15%">
                            <mat-label>{{'menuPropertygender' | translate}}</mat-label>
                            <mat-select #gender placeholder="{{'menuPropertygender' | translate}}"
                                formControlName="gender">
                                <mat-option>{{'menuPropertynone' | translate}}</mat-option>
                                <mat-option value="F">{{'menuPropertyFemale' | translate}}</mat-option>
                                <mat-option value="M">{{'menuPropertyMale' | translate}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="10px">

                        <mat-form-field fxFlex="20%">
                            <mat-label>{{'menuPropertydocumentationType' | translate}}</mat-label>
                            <mat-select #documentationTypeId formControlName="documentationTypeId"
                                placeholder="{{'menuPropertydocumentationType' | translate}}" required>
                                <mat-option *ngFor="let document of documentationTypes" [value]="document.id">
                                    {{'menuPropertydocumentationType' + document.id | translate}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field fxFlex="20%">
                            <mat-label>
                                <span *ngIf="cliDocument?.name">
                                    {{cliDocument?.name | translate}}
                                </span>
                                <span *ngIf="!cliDocument?.name">
                                    {{'menuPropertyidCard' | translate}}
                                </span>
                            </mat-label>
                            <input matInput #idCard formControlName="idCard"
                                placeholder="{{cliDocument?.name | translate}}" type="text" required>
                            <mat-error align="end" *ngIf="editorFormData.get('idCard').hasError('pattern')">
                                {{'msgErrorInvalidData' | translate}}&nbsp;
                                <strong>{{cliDocument?.name  | translate}}</strong>
                            </mat-error>
                        </mat-form-field>

                        <app-date-picker fxFlex="20.2%"
                            [name]="cliDocument?.name"
                            [textExtra]="'msgExpiresAt'"
                            [control]="editorFormData.get('idCardExpiresAt')">
                        </app-date-picker>

                    </div>

                    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="8px">
                        <mat-form-field fxFlex="30%">
                            <mat-label>{{'menuPropertyaddress' | translate}}</mat-label>
                            <input matInput #address formControlName="address" type="text"
                                placeholder="{{'menuPropertyaddress' | translate}}" maxlength="125">
                        </mat-form-field>

                        <mat-form-field fxFlex="20%">
                            <mat-label>{{'menuPropertycity' | translate}}</mat-label>
                            <input matInput #city formControlName="city" type="text"
                                placeholder="{{'menuPropertycity' | translate}}" maxlength="125" required>
                        </mat-form-field>

                        <mat-form-field fxFlex="20%">
                            <mat-label>{{'menuPropertycountry' | translate}}</mat-label>
                            <input matInput #countryName formControlName="countryName"
                                placeholder="{{'menuPropertycountry' | translate}}" type="text"
                                [matAutocomplete]="countryAutoComplete" tab-directive required>
                            <mat-autocomplete #countryAutoComplete="matAutocomplete" autoActiveFirstOption="true">
                                <mat-option *ngFor="let country of filteredCountries | async" [value]="country.name">
                                    {{country.name | translate}}
                                </mat-option>
                            </mat-autocomplete>
                            <mat-error align="end"
                                *ngIf="editorFormData.get('countryName').hasError('selectedValueError')">
                                {{'msgSelectedCountry' | translate}}
                                <strong>
                                    "{{editorFormData.get('countryName').errors.selectedValueError.value}}"
                                </strong>
                                &nbsp;{{'msgIsNotAllowed' | translate}}
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field fxFlex="25%">
                            <mat-label>{{'menuPropertycountryProvinceName' | translate}}</mat-label>
                            <input matInput #countryProvinceName formControlName="countryProvinceName"
                                placeholder="{{'menuPropertycountryProvinceName' | translate}}" type="text"
                                [matAutocomplete]="provincesAuto" tab-directive>
                            <mat-autocomplete #provincesAuto="matAutocomplete" autoActiveFirstOption="true">
                                <mat-option *ngFor="let province of filteredProvinces | async"
                                [value]="province.name">
                                    {{province.name | translate}}
                                </mat-option>
                            </mat-autocomplete>
                            <mat-error align="end"
                                *ngIf="editorFormData.get('countryProvinceName').hasError('selectedValueError')">
                                {{'msgSelectedProvince' | translate}}
                                <strong>
                                    "{{editorFormData.get('countryProvinceName').errors.selectedValueError.value}}"
                                </strong>
                                &nbsp;{{'msgIsNotAllowed' | translate}}
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div class="padding-top" fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="10px">
                        <section class="mat-typography">
                            <h4>{{'titleContactInformation' | translate}}</h4>
                        </section>
                    </div>
                    <mat-divider></mat-divider>

                    <div class="padding-top" fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="10px">
                        <mat-form-field fxFlex="20%">
                            <mat-label>{{'menuPropertyphone' | translate}}</mat-label>
                            <input matInput #username formControlName="phone" type="phone"
                                placeholder="{{'menuPropertyphone' | translate}}" maxlength="45" required>
                        </mat-form-field>

                        <mat-form-field fxFlex="20%">
                            <mat-label>{{'menuPropertyemail' | translate}}</mat-label>
                            <input matInput #email formControlName="email" type="email"
                                placeholder="{{'menuPropertyemail' | translate}}" maxlength="255" required>
                            <mat-error align="end" *ngIf="editorFormData.get('email').hasError('pattern')">
                                {{'msgErrorInvalidData' | translate}}&nbsp;
                                <strong>{{'menuPropertyemail' | translate}}</strong>
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field fxFlex="20%">
                            <mat-label>{{'menuPropertylanguageName' | translate}}</mat-label>
                            <mat-select #languageId formControlName="languageId"
                                placeholder="{{'menuPropertylanguage' | translate}}" required>
                                <mat-option *ngFor="let language of availableLanguages" value="{{language.id}}">
                                    {{ 'languageCode' + language.code | translate }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="padding-top" fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="10px">
                        <mat-slide-toggle color="primary" #isMinor formControlName="isMinor" fxFlex="50%">
                            {{'menuPropertyIsMinor' | translate}}
                        </mat-slide-toggle>
                    </div>

                    <div [hidden]="editorFormData.get('isMinor').value === false">
                        <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="10px">
                            <section class="mat-typography">
                                <h3>{{'titleLegalGuardian' | translate}}</h3>
                            </section>
                        </div>
                        <mat-divider></mat-divider>

                        <div class="padding-top" fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="10px">
                            <mat-form-field fxFlex="20%">
                                <mat-label>{{'menuPropertyname' | translate}}</mat-label>
                                <input matInput #legalGuardianName formControlName="legalGuardianName"
                                    placeholder="{{'menuPropertyname' | translate}}" maxlength="125" type="text"
                                    required>
                            </mat-form-field>

                            <mat-form-field fxFlex="20%">
                                <mat-label>{{'menuPropertysurnames' | translate}}</mat-label>
                                <input matInput #legalGuardianName formControlName="legalGuardianSurnames"
                                    placeholder="{{'menuPropertysurnames' | translate}}" maxlength="255" type="text"
                                    required>
                            </mat-form-field>

                        </div>

                        <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="8px">
                            <mat-form-field fxFlex="20%">
                                <mat-label>{{'menuPropertydocumentationType' | translate}}</mat-label>
                                <mat-select #legalGuardianDocumentationTypeId
                                    formControlName="legalGuardianDocumentationTypeId"
                                    placeholder="{{'menuPropertydocumentationType' | translate}}" required>
                                    <mat-option *ngFor="let document of documentationTypes" [value]="document?.id">
                                        {{'menuPropertydocumentationType' + document?.id | translate}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>

                            <mat-form-field fxFlex="20%">
                                <mat-label>
                                    <span *ngIf="legGDocument?.name">
                                        {{legGDocument?.name | translate}}
                                    </span>
                                    <span *ngIf="!legGDocument?.name">
                                        {{'menuPropertyidCard' | translate}}
                                    </span>
                                </mat-label>
                                <input matInput #legalGuardianIdCard formControlName="legalGuardianIdCard" type="text"
                                    placeholder=" {{legGDocument?.name | translate}}" required>
                                <mat-error align="end"
                                    *ngIf="editorFormData.get('legalGuardianIdCard').hasError('pattern')">
                                    {{'msgErrorInvalidData' | translate}}&nbsp;
                                    <strong>{{legGDocument?.name  | translate}}</strong>
                                </mat-error>
                            </mat-form-field>

                            <app-date-picker fxFlex="20.2%"
                                [name]="legGDocument?.name"
                                [textExtra]="'msgExpiresAt'"
                                [control]="editorFormData.get('legalGuardianIdCardExpiresAt')">
                            </app-date-picker>

                        </div>
                    </div>
                </form>
            </mat-tab>

            <mat-tab label="{{RELATED_ENTITIES?.CLIENT?.CLAIMS | translate}}" *ngIf="formAction === 'edit'">
                <ng-template matTabContent>
                    <app-table-related-data
                        [showSave]="false"
                        [parentRoute]="parentRoute"
                        [currentTab]="RELATED_ENTITIES?.CLIENT?.CLAIMS"
                        [idRelatedEntity]="this.id"
                        [isLoading]="isLoading"
                        [sizePaginator]="SIZES.MIDDLE"
                    ></app-table-related-data>
                </ng-template>
            </mat-tab>

            <mat-tab label="{{RELATED_ENTITIES?.CLIENT?.DEMANDS | translate}}" *ngIf="formAction === 'edit'">
                <ng-template matTabContent>
                    <app-table-related-data
                        [showSave]="false"
                        [parentRoute]="parentRoute"
                        [currentTab]="RELATED_ENTITIES?.CLIENT?.DEMANDS"
                        [idRelatedEntity]="this.id"
                        [isLoading]="isLoading"
                        [sizePaginator]="SIZES.MIDDLE"
                    ></app-table-related-data>
                </ng-template>
            </mat-tab>

            <mat-tab label="{{RELATED_ENTITIES?.CLIENT?.BILLS | translate}}" *ngIf="formAction === 'edit'">
                <ng-template matTabContent>
                    <app-table-related-data
                        [showSave]="false"
                        [parentRoute]="parentRoute"
                        [currentTab]="RELATED_ENTITIES?.CLIENT?.BILLS"
                        [idRelatedEntity]="this.id"
                        [isLoading]="isLoading"
                        [sizePaginator]="SIZES.MIDDLE"
                    ></app-table-related-data>
                </ng-template>
            </mat-tab>

        </mat-tab-group>
    </fury-page-layout-content>
</fury-page-layout>
