app-root > .background {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #13293d;
}

app-root > .background > .wrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

@-webkit-keyframes ball-scale-multiple {
    0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0;
    }
    5% {
    opacity: 1;
    }
    100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
    }
}

@keyframes ball-scale-multiple {
    0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0;
    }
    5% {
    opacity: 1;
    }
    100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
    }
}

.ball-scale-multiple {
    position: relative;
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
}

.ball-scale-multiple > div:nth-child(2) {
    -webkit-animation-delay: -0.4s;
    animation-delay: -0.4s;
}

.ball-scale-multiple > div:nth-child(3) {
    -webkit-animation-delay: -0.2s;
    animation-delay: -0.2s;
}

.ball-scale-multiple > div {
    background-color: #fff;
    border-radius: 100%;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    position: absolute;
    left: -30px;
    top: 0;
    opacity: 0;
    margin: 0;
    width: 60px;
    height: 60px;
    -webkit-animation: ball-scale-multiple 1s 0s linear infinite;
    animation: ball-scale-multiple 1s 0s linear infinite;
}