<fury-page-layout mode="card">
    <fury-page-layout-header>
        <fury-breadcrumbs [@fadeInRight] [crumbs]="breadcrumbs" current="{{ actualMenuName }}"></fury-breadcrumbs>
    </fury-page-layout-header>

    <fury-page-layout-content [@fadeInUp]>
        <fury-list
            name="{{ actualMenuName }}"
            [columns]="columns"
            [hasAdvancedFilter]="hasAdvancedFilter"
            [hideAdvancedFilter]="hideAdvancedFilter"
            [searchFilterActivated]="searchFilterActivated"
            [advancedFilterActivated]="advancedFilterActivated"
            [isDisabled]="statusLoading"
            (filterChange)="onFilterChange('search', $event)"
            (evtClearFilter)="clearAllFilters($event)">

            <div class="actions">
                <ng-container *ngFor="let option of headerOptions">
                    <button [disabled]="statusLoading" [ngClass]="option.name" matTooltip="{{option.name | translate}}"
                        (click)="clickedOption(option.name, null)" type="button" mat-mini-fab color="primary">
                        <mat-icon>{{ option.icon }}</mat-icon>
                    </button>
                </ng-container>
            </div>

            <div class="advanced-filters" *ngIf="columns?.length > 0">
                <mat-grid-list cols="4" rowHeight="50px">
                    <ng-container *ngFor="let filter of columns">

                        <ng-container *ngIf="filter.isAdvancedFilter && filter?.advancedFilterValues?.length > 0
                            && !filter.isDate && !filter.isSimpleFilter">
                            <mat-grid-tile class="text-center">
                                <app-selector
                                    [nameField]="filter.name"
                                    [items]="filter?.advancedFilterValues"
                                    (controlEvent)="onFilterChange(filter.name, $event)">
                                </app-selector>
                            </mat-grid-tile>
                        </ng-container>

                        <ng-container *ngIf="filter.isAdvancedFilter && filter.isDate">
                            <mat-grid-tile class="text-center">
                                <app-date-picker
                                    [name]="filter.name + dateStart"
                                    [toolTip]="'toolTipStartDate'"
                                    [startDate]="true"
                                    (controlEvent)="onFilterChange(filter.name + dateStart, $event)">
                                </app-date-picker>
                            </mat-grid-tile>
                            <mat-grid-tile class="text-center">
                                <app-date-picker
                                    [name]="filter.name + dateEnd"
                                    [toolTip]="'toolTipEndDate'"
                                    [startDate]="false"
                                    (controlEvent)="onFilterChange(filter.name + dateEnd, $event)">
                                </app-date-picker>
                            </mat-grid-tile>
                        </ng-container>

                        <ng-container *ngIf="filter.isAdvancedFilter && filter.isSimpleFilter">
                            <mat-grid-tile class="text-center">
                                <app-input
                                    [msgInput]="filter.name"
                                    (controlEvent)="onFilterChange(filter.name, $event)">
                                </app-input>
                            </mat-grid-tile>
                        </ng-container>

                    </ng-container>
                </mat-grid-list>
            </div>

            <table [dataSource]="dataSource" mat-table matSort matSortActive="{{actualMenuSortActive}}"
                matSortDirection="{{actualMenuSortDirection}}">
                <ng-container matColumnDef="checkbox">
                    <th *matHeaderCellDef class="actions-cell" mat-header-cell>
                        <mat-checkbox color="primary"
                            (change)="checkUncheckAllRows($event)"></mat-checkbox>
                    </th>
                    <td *matCellDef="let row" class="actions-cell" mat-cell>
                        <mat-checkbox #checkBoxRows color="primary" (click)="$event.stopPropagation()"
                            (change)="updateCheckedRows(row.id, $event)" value="{{row.id}}"></mat-checkbox>
                    </td>
                </ng-container>

                <ng-container *ngFor="let column of columns">
                    <ng-container *ngIf="column.isModelProperty" [matColumnDef]="column.property">
                        <th *matHeaderCellDef mat-header-cell mat-sort-header> {{ 'menuProperty' + column.name | translate }}</th>
                        <td *matCellDef="let row" mat-cell>
                            <!-- Default -->
                            <span *ngIf="!column.isBoolean && !column.isDate && !column.isNumber && column.property !== 'icon'">
                                <ng-container *ngIf="row[column.property] && column?.canBeTranslated">
                                    {{ column.property + row[column.property] | translate}}
                                </ng-container>
                                <ng-container *ngIf="!column?.canBeTranslated">{{ row[column.property] }}</ng-container>
                            </span>
                            <!-- Boolean -->
                            <mat-icon color="accent" matTooltip="active | translate"
                                *ngIf="column.isBoolean && row[column.property] && column.property !== 'icon'">
                                check
                            </mat-icon>
                            <mat-icon color="primary" matTooltip="inactive | translate"
                                *ngIf="column.isBoolean && !row[column.property] && column.property !== 'icon'">
                                clear
                            </mat-icon>
                            <!-- Number -->
                            <span *ngIf="column.isNumber">
                                {{ row[column.property] | number : '1.2-2' }}
                            </span>
                            <!-- Date -->
                            <span *ngIf="column.isDate && row[column.property] !== '0000-00-00 00:00:00'; else emptyValue">
                                {{ row[column.property] | date : 'dd/MM/yyyy' }}
                            </span>
                            <!-- Icon -->
                            <mat-icon color="primary" matTooltip="{{ row[column.property] | translate }}"
                                *ngIf="column.property === 'icon'">
                                {{ row[column.property] }}
                            </mat-icon>
                            <!-- Empty -->
                            <ng-template #emptyValue></ng-template>
                        </td>
                    </ng-container>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <th *matHeaderCellDef class="actions-cell" mat-header-cell mat-sort-header></th>
                    <td *matCellDef="let row" class="actions-cell" mat-cell>
                        <button type="button" mat-icon-button [matMenuTriggerFor]="actionsMenu"
                            (click)="$event.stopPropagation()">
                            <mat-icon>more_horiz</mat-icon>
                        </button>

                        <mat-menu #actionsMenu="matMenu" yPosition="below" xPosition="before">
                            <ng-container *ngFor="let option of tableOptions">
                                <button (click)="clickedOption(option.name, row.id)" mat-menu-item>
                                    <span>{{option.name}}</span>
                                </button>
                            </ng-container>
                        </mat-menu>
                    </td>
                </ng-container>

                <tr *matHeaderRowDef="visibleColumns" mat-header-row></tr>
                <tr [routerLink]="['./edit/', row.id]" *matRowDef="let row; columns: visibleColumns;"
                    class="clickable route-animations-elements" mat-row></tr>
            </table>

            <mat-paginator class="paginator" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"></mat-paginator>
        </fury-list>
    </fury-page-layout-content>
</fury-page-layout>
