.actions {
    button {
        margin-right: 5px;
    }
}
.clickable {
    cursor: pointer;
}

.advanced-filters {
    padding: 15px;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.12);

    mat-form-field {
        font-size: 12px;
    }
}