<div matDialogTitle>{{ title | translate }}</div>

<mat-dialog-content>
    <form [formGroup]="editorForm">
        <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="10px">
            <mat-form-field fxFlex="12%">
                <mat-label>{{ 'menuPropertyorder' | translate }}</mat-label>
                <input matInput #order formControlName="order" type="number" min="1" required
                    placeholder="{{ 'menuPropertyorder' | translate }}" >
            </mat-form-field>
        </div>
        <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="10px">
            <mat-form-field fxFlex="50%">
                <mat-label>{{ 'menuPropertydepartureAirport' | translate }}</mat-label>
                <input matInput type="text" placeholder="{{ 'menuPropertydepartureAirport' | translate }}" required
                    #airportDepartureNameAndIata formControlName="airportDepartureNameAndIata"
                    [matAutocomplete]="autoDepAirports">
                <mat-autocomplete #autoDepAirports="matAutocomplete" autoActiveFirstOption="true">
                    <mat-option *ngFor="let airport of filteredDepartureAirports | async" [value]="airport.nameAndIata">
                        {{airport.nameAndIata}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
            <mat-form-field fxFlex="50%">
                <mat-label>{{ 'menuPropertyarrivalAirport' | translate }}</mat-label>
                <input matInput type="text" placeholder="{{ 'menuPropertyarrivalAirport' | translate }}" required
                    #airportArrivalNameAndIata formControlName="airportArrivalNameAndIata"
                    [matAutocomplete]="autoArrAirports">
                <mat-autocomplete #autoArrAirports="matAutocomplete" autoActiveFirstOption="true">
                    <mat-option *ngFor="let airport of filteredArrivalAirports | async" [value]="airport.nameAndIata">
                        {{airport.nameAndIata}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </div>
        <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="10px">
            <mat-form-field fxFlex="49.2%">
                <mat-label>{{ 'menuPropertyarrivalScheduledTime' | translate }}</mat-label>
                <input matInput type="datetime-local" #arrivalScheduledTime formControlName="arrivalScheduledTime"
                    placeholder="{{ 'menuPropertyarrivalScheduledTime' | translate }}" required>
                <button class="clear-btn" color="accent" type="button" mat-button matSuffix mat-icon-button
                    matTooltip="{{ 'btnClear' | translate }}" (click)="clearInput('arrivalScheduledTime')">
                    <mat-icon>clear</mat-icon>
                </button>
            </mat-form-field>
            <mat-form-field fxFlex="49.2%">
                <mat-label>{{ 'menuPropertyarrivalActualTime' | translate }}</mat-label>
                <input matInput type="datetime-local" #arrivalActualTime formControlName="arrivalActualTime"
                    placeholder="{{ 'menuPropertyarrivalActualTime' | translate }}">
                <button class="clear-btn" color="accent" type="button" mat-button matSuffix mat-icon-button
                    matTooltip="{{ 'btnClear' | translate }}" (click)="clearInput('arrivalActualTime')">
                    <mat-icon>clear</mat-icon>
                </button>
            </mat-form-field>
        </div>
    </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button type="button" mat-button color="accent" (click)="save()">{{ 'btnSave' | translate }}</button>
    <button type="button" mat-button color="primary" (click)="close()">{{ 'btnClose' | translate }}</button>
</mat-dialog-actions>