<ng-container *ngIf="selectorType === 'select' || !selectorType  && items?.length <= limit">
    <mat-form-field fxFlex="100%" >
        <mat-label>{{nameField | translate}}</mat-label>
        <mat-select [formControl]="control" placeholder="{{ message | translate}}" required="{{required}}">
            <mat-option *ngIf="!required">{{'menuPropertynone' | translate}}</mat-option>
            <mat-option *ngFor="let item of items" [value]="item[idField]">
                <ng-container *ngIf="translateOptions">{{item[idName] | translate}}</ng-container>
                <ng-container *ngIf="!translateOptions">{{item[idName]}}</ng-container>
            </mat-option>
        </mat-select>
    </mat-form-field>
</ng-container>

<ng-container *ngIf="selectorType === 'autocomplete' || !selectorType  && items?.length > limit">
    <mat-form-field  fxFlex="100%">
        <mat-label>{{nameField | translate}}</mat-label>
        <input matInput [formControl]="control" placeholder="{{message | translate}}" type="text"
          [matAutocomplete]="autoCompleteGene">
        <mat-autocomplete #autoCompleteGene="matAutocomplete"
            (optionSelected)="optionSelected($event.option.value)">
            <mat-option *ngFor="let item of filteredItems | async" [value]="item[idName]">
                <ng-container *ngIf="translateOptions">{{item[idName] | translate}}</ng-container>
                <ng-container *ngIf="!translateOptions">{{item[idName]}}</ng-container>
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
</ng-container>
