@import "var";

.toolbar-languages {
    position: relative;

    .flag {
        width: 35px;
        height: 30px;
        border-radius: 25%;
    }
}

.button {
    height: 100%;
    padding: 0;
    min-width: $toolbar-button-width;
    border-radius: 0;
}

.dropdown {
    position: absolute;
    top: $toolbar-height;
    right: 0;
    min-width: 190px;
    max-width: 250px;
    z-index: -1;
    transform: translateY(-110%) scale(0);
    transform-origin: top right;
    visibility: hidden;
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
    transition: transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), visibility 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);

    @media screen and (max-width: 599px) {
        min-width: 100vw;
        max-width: 100vw;
        position: fixed;
        left: 0;
        right: 0;
    }

    &.open {
        transform: translateY(0) scale(1);
        visibility: visible;
    }
}

.dropdown-card-content {
    padding: 0;
}

.dropdown-content {
    overflow: hidden;
    max-height: 256px;
    padding: 0;
}

.language {
    min-height: 50px;
    padding: 0 $spacing 0 $spacing / 1.5;
    position: relative;
    cursor: pointer;

    .label {
        @include mat-typography-level-to-styles($config, body-1);
        font-weight: 500;
    }

    .flag {
        margin-right: 5px;
    }
}
