<div (appClickOutside)="onClickOutside()" class="toolbar-languages" fxFlex="grow" fxLayout="row"
    fxLayoutAlign="start center">
    <button (click)="toggleDropdown()" [class.open]="isOpen" class="button" fxFlex="grow" mat-button type="button">
        <img class="flag" src="assets/icons/flags/{{ actualLanguage }}.png">
    </button>

    <div [class.open]="isOpen" class="dropdown">
        <fury-card>
            <fury-card-content class="dropdown-card-content">
                <fury-scrollbar class="dropdown-content">
                    <div fxLayout="column">
                        <ng-container *ngFor="let language of languages">
                            <div (click)="changeLanguage(language)" class="language" fxLayout="row"
                                fxLayoutAlign="start center" matRipple>
                                <img class="flag" src="assets/icons/flags/{{ language.languageCode }}.png">
                                <div class="label" fxLayout="column">
                                    <div class="name">{{ language.languageName }}</div>
                                </div>
                            </div>
                            <mat-divider *ngIf="!last"></mat-divider>
                        </ng-container>
                    </div>
                </fury-scrollbar>
            </fury-card-content>
        </fury-card>
    </div>
</div>