<div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="10px">
    <div class="mat-elevation-z8" fxFlex="auto">
        <table [dataSource]="dataSource" mat-table matSort matSortActive="{{sortActive}}"
        matSortDirection="{{sortDirection}}">

            <ng-container matColumnDef="{{checkBoxField}}">
                <th *matHeaderCellDef class="actions-cell" mat-header-cell>
                    <mat-checkbox color="primary" (click)="$event.stopPropagation()"
                    (change)="checkUnCheckAllRows($event)"></mat-checkbox>
                </th>
                <td *matCellDef="let row" class="actions-cell" mat-cell>
                    <mat-checkbox #checkBoxRows color="{{isInvalid ? 'warn': 'primary'}}"
                        (click)="$event.stopPropagation()" (change)="updateCheckedRows(row[idField], $event)"
                        [checked]="row[checkBoxField]">
                    </mat-checkbox>
                </td>
            </ng-container>

            <ng-container *ngFor="let column of columnsTable">
                <ng-container *ngIf="!column.isCheckBox" [matColumnDef]="column.name">

                    <th *matHeaderCellDef mat-header-cell mat-sort-header>{{column.name | translate}}</th>

                    <td *matCellDef="let row" mat-cell (click)="rowClickEvent(row, accessMenu[row.menuId])">

                        <!-- Default -->
                        <span *ngIf="!column.isBoolean && !column.isDate && !column.isNumber &&
                            !column.isCheckBox && !column.isCurrency && column.name !== 'icon'">
                            <ng-container *ngIf="column.canBeTranslated">
                                {{column.name + row[column.name] | translate}}
                            </ng-container>
                            <ng-container *ngIf="!column.canBeTranslated">{{row[column.name]}}</ng-container>
                        </span>

                        <!-- Boolean -->
                        <mat-icon  color="{{row[column.name] ? 'accent' : 'primary'}}" matTooltip="active"
                            *ngIf="column.isBoolean && !column.isDate && column.name !== 'icon'">
                            <ng-container *ngIf="row[column.name]">check</ng-container>
                            <ng-container *ngIf="!row[column.name]">clear</ng-container>
                        </mat-icon>

                        <!-- Number -->
                        <span *ngIf="column.isNumber && column.name !== 'icon'">
                            {{ row[column.name] | number : '1.2-2' }}
                        </span>

                         <!-- Currency -->
                         <span *ngIf="column.isCurrency && column.name !== 'icon'">
                            {{ row[column.name] | currency : 'EUR' }}
                        </span>

                        <!-- Date -->
                        <span *ngIf="column.isDate && row[column.name] &&
                            row[column.name] !== '0000-00-00 00:00:00'; else emptyValue">
                            {{ row[column.name] | date : 'dd/MM/yyyy' }}
                        </span>

                        <!-- Icon -->
                        <mat-icon *ngIf="!column.isBoolean && !column.isDate &&
                            column.name === 'icon'" color="primary" matTooltip="{{ row[column.name] }}">
                            {{row[column.name]}}
                        </mat-icon>

                        <!-- Empty -->
                        <ng-template #emptyValue></ng-template>

                    </td>

                </ng-container>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="visibleColumnsTable"></tr>
            <tr mat-row class="route-animations-elements"
                [ngClass]="{
                    'clickable': accessMenu[row?.menuId]?.canAccess && enableNavigation,
                    'cursor-not-allowed': !accessMenu[row?.menuId]?.canAccess && enableNavigation,
                    'cursor-auto': !enableNavigation
                }"
                *matRowDef="let row; columns: visibleColumnsTable;"></tr>
        </table>
        <mat-paginator class="paginator" [pageSize]="PAGINATOR[sizePaginator].SIZE" [pageSizeOptions]="PAGINATOR[sizePaginator].OPTIONS"></mat-paginator>
    </div>
</div>
