<div class="padding-top" fxLayopaddingut="column" fxLayout.gt-sm="row" fxLayoutGap="8px">
    <blockquote *ngIf="id || date">
        <ng-container *ngIf="id">{{'menuProperty' + textId | translate}} {{id}} </ng-container>
        <ng-container *ngIf="date">{{id ? '-': ''}} {{ 'msg' + textDate | translate}} {{ date | date: 'dd/MM/yyyy HH:mm' }}</ng-container>
        <ng-container *ngIf="messageOption"><br> <span class="info-message">{{messageOption | translate}}</span> </ng-container>
    </blockquote>
    <div fxLayout="column" fxFlex="auto" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="10px" fxLayoutAlign="end stretch">
        <button
            *ngIf="showBackButton"
            mat-fab color="primary"
            type="button"
            [routerLink]="[parentRoute]"
            matTooltip="{{'toolTipBack' | translate}}"
            >
            <mat-icon>arrow_back</mat-icon>
        </button>
        <button
            *ngIf="canUseFormOperation && showSaveButton"
            mat-fab color="accent"
            type="submit"
            [disabled]="isInvalid || isDisabled"
            (click)="saveClicked($event)"
            >
            <mat-icon [matTooltip]="message | translate">{{buttons[textButtonSubmit]}}</mat-icon>
        </button>
    </div>
</div>

