<div class="page background-login" fxLayout="column" fxLayoutAlign="center center">
    <div [@fadeInUp] class="card border-radius elevation">
        <div class="header padding background-primary" fxLayout="column" fxLayoutAlign="center center">
            <div class="logo fill-primary-contrast">
                <img class="img-logo" src="assets/img/statia_transparente_blanco_by.png">
            </div>
        </div>
        <div class="padding" fxLayout="column" fxLayoutGap="16px" [formGroup]="form" (keyup.enter)="send()">
            <div fxFlex="auto" fxLayout="column">
                <mat-form-field fxFlex="grow">
                    <mat-label>User</mat-label>
                    <input matInput required formControlName="username">
                    <mat-error *ngIf="form.get('username').hasError('required')">
                        We need an username to log you in
                    </mat-error>
                </mat-form-field>
                <mat-form-field fxFlex="grow">
                    <mat-label>Password</mat-label>
                    <input matInput [type]="inputType" formControlName="password" required>
                    <button type="button" mat-icon-button matSuffix (click)="toggleVisibility()"
                        matTooltip="Toggle Visibility">
                        <mat-icon *ngIf="visible">visibility</mat-icon>
                        <mat-icon *ngIf="!visible">visibility_off</mat-icon>
                    </button>
                    <mat-hint>Click the eye to toggle visibility</mat-hint>
                    <mat-error *ngIf="form.get('password').hasError('required')">
                        We need a password to log you in
                    </mat-error>
                </mat-form-field>
            </div>
            <div *ngIf="hideForgetPass" fxLayout="row"  fxLayoutAlign="space-between center">
                <mat-checkbox formControlName="rememberSession" class="caption">Remember Me</mat-checkbox>
                <a class="caption" >Forgot Password?</a>
            </div>
            <button type="button" color="primary" mat-raised-button (click)="send()">SIGN IN</button>
        </div>
    </div>
</div>