@import "var";

.page {
  display: block;
  height: 100%;
  width: 100%;
}

.card {
  width: 380px;

  @include media-xs {
    width: 300px;
  }

  .header {
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
  }
}

.img-logo {
  width: 220px;
  height: auto;
}

.background-login {
  background-image: url("../../../assets/img/background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}