@import "~@angular/material/theming";

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker hue.

$theme-primary-hue: 700;
$theme-accent-hue: 500;
$theme-warn-hue: 500;

$theme-primary: mat-palette($mat-blue, $theme-primary-hue);
$theme-accent: mat-palette($mat-teal, $theme-accent-hue);
$theme-warn: mat-palette($mat-red, $theme-warn-hue);
$sidenav-item-statia-color-active: #F47820;

.fury-default {
    $theme: mat-light-theme($theme-primary, $theme-accent, $theme-warn);
    @include angular-material-theme($theme);

    @import "@fury/styles/themes/default";

    background: $theme-background;
    color: $theme-text;

    //@import "./pages/apps/inbox/inbox.component.theme";
    //@import "./pages/apps/chat/chat.component.theme";
    //@import "./pages/forms/form-wizard/form-wizard.component.theme";
    //@import "./pages/coming-soon/coming-soon.component.theme";
    //@import "./layout/config-panel/config-panel.component.theme";
}

.theme-statia {
    //Custom
    @import "@fury/styles/palette";

    $theme-primary-hue: 500;
    $theme-accent-hue: 500;

    $theme-primary: mat-palette($md-statia-blue, $theme-primary-hue);
    $theme-accent: mat-palette($md-statia-orange, $theme-primary-hue);

    $theme: mat-light-theme($theme-primary, $theme-accent, $theme-warn);
    @include angular-material-theme($theme);

    @import "@fury/styles/themes/statia";

    background: $theme-background;
    color: $theme-text;

    .mat-flat-button.mat-accent,
    .mat-raised-button.mat-accent,
    .mat-fab.mat-accent,
    .mat-mini-fab.mat-accent {
        color: white;
    }

    /* Clases propias */
    .fullwidth {
        width: 100%;
    }

    .color-warn {
        color: $theme-color-warn;
    }

    /* "Arreglos" en estilos propios de elementos de angular */
    .mat-cell,
    .mat-footer-cell {
        font-size: 12.5px;
    }

    .fury-page-layout-header {
        height: 100px !important;
    }
    .fury-page-layout-content {
        padding: 15px !important;
    }

    .sidenav-user {
        padding-bottom: 8px !important;
        .sidenav-user-image {
            height: 85px !important;
            width: 85px !important;
        }
    }

    .mat-paginator-page-size-select {
        .mat-form-field-flex {
            padding: 0 0.75em 0 0.75em;
        }
        .mat-select-arrow-wrapper {
            transform: translateY(0%);
        }
    }

    div.mat-tab-body-content {
        padding: 10px;
    }

    .mat-form-field-appearance-fill .mat-form-field-flex {
        padding: 0.5em 0.75em 0 0.75em;
    }
    .mat-form-field-appearance-fill .mat-form-field-infix {
        padding: 0.1em 0 0.4em 0;
        font-size: 12px;
    }
    .mat-paginator-page-size-select {
        .mat-form-field-infix {
            border-top: none !important;
        }
    }
    mat-form-field.mat-form-field {
        font-size: 12px;
    }
    .mat-fab {
        width: 50px;
        height: 50px;
        .mat-button-wrapper {
            padding: 0px;
        }
    }
    .mat-grid-tile .mat-figure {
        justify-content: left !important;
    }
    app-login {
        mat-form-field.mat-form-field {
            font-size: 15px;
        }
    }
}

/* General styles */
.cursor-not-allowed {
    cursor: not-allowed !important;

    .mat-datepicker-toggle {
        font-size: 10px;
    }
}
.cursor-auto {
    cursor: auto;
}

$light-grey: rgba(0, 0, 0, 0.04);
table.mat-table {
    width: 100%;
    .mat-row:hover {
        background: $light-grey;
    }
    .clickable {
        cursor: pointer;
    }
    .align-end-content {
        text-align: end;
    }
}

.hidden {
    display: none !important;
}

.padding- {
    &0 {
      padding: 0 !important;
    }
    &10 {
      padding: 10px
    }
    &20 {
      padding: 20px
    }
    &40 {
      padding: 40px
    }
    &top- {
      &0 {
        padding-top: 0 !important;
      }
      &10 {
        padding-top: 10px;
      }
      &20 {
        padding-top: 20px;
      }
      &60 {
        padding-top: 60px;
      }
    }
    &bottom- {
      &0 {
        padding-bottom: 0 !important;
      }
      &10 {
          padding-bottom: 10px;
      }
      &20 {
        padding-bottom: 20px;
      }
      &60 {
        padding-bottom: 60px;
      }
    }
    &left- {
      &0 {
        padding-left: 0;
      }
      &10 {
          padding-left: 10px;
      }
    }
    &right- {
      &0 {
        padding-right: 0;
      }
      &10 {
          padding-right: 10px;
      }
    }
  }

  .info-message {
    color: $sidenav-item-statia-color-active;
    font-weight: 500;
  }
