<!--
    Important !,
    In the main component, from its onInit & onDestroy function, call
    TableRelatedDataService.cleanDataTabs () to clean up sessionStorage of current tabs
     -->
<ng-container >

    <div fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="start stretch" *ngIf="title">
        <h4 [class.color-warn]="isInvalid">{{title}}</h4>
    </div>

    <app-editor-buttons
        [parentRoute]="parentRoute"
        [isInvalid]="isInvalid"
        [isDisabled]="isLoading"
        [canUseFormOperation]="canUseFormOperation"
        [showSaveButton]="showSave"
        [showBackButton]="showBack"
        (saveButtonClickedEvent)="emitSaveButton($event)"
    ></app-editor-buttons>

    <app-input *ngIf="showSearch"
        [parentRoute]="parentRoute"
        [isLoading]="isLoading"
        (controlEvent)="setTableFilter('search', $event)">
    </app-input>

    <app-subordinate-table-component
        [currentTab]="currentTab"
        [idRelatedEntity]="idRelatedEntity"
        [isInvalid]="isInvalid"
        [sizePaginator]="sizePaginator"
        [paramsForFilter]="paramsForFilter"
        [forceToReloadData]="forceToReloadData"
        (allDataFromTable)="emitDataTable($event)"
        (rowData)="emitRowData($event)">
    </app-subordinate-table-component>

</ng-container>
