<fury-page-layout mode="simple">
    <fury-page-layout-header>
        <fury-breadcrumbs [@fadeInRight] [crumbs]="breadcrumbs" current="{{ currentEditor }}"></fury-breadcrumbs>
    </fury-page-layout-header>
    <fury-page-layout-content class="padding-0" [@fadeInUp]>
        <mat-tab-group>
            <mat-tab label="data">
                <form [formGroup]="editorFormData" (ngSubmit)="onSubmit()">
                    <div class="padding-top" fxLayout="column" fxLayout.gt-sm="row"
                        fxLayoutGap.gt-sm="10px" fxLayoutAlign="end stretch">
                        <button mat-fab color="primary" type="button" [routerLink]="[parentRoute]">
                            <mat-icon>arrow_back</mat-icon>
                        </button>
                        <button mat-fab color="accent" type="submit">
                            <mat-icon>save</mat-icon>
                        </button>
                    </div>
                    <div class="padding-top" fxLayout="row" fxLayoutGap="8px">
                        <mat-form-field fxFlex="50%">
                            <mat-label>name</mat-label>
                            <input matInput #name formControlName="name" type="text" placeholder="name" maxlength="150"
                                required>
                        </mat-form-field>
                    </div>
                </form>
            </mat-tab>
        </mat-tab-group>
    </fury-page-layout-content>
</fury-page-layout>
