<fury-page-layout mode="simple">
    <fury-page-layout-header>
        <fury-breadcrumbs [@fadeInRight] [crumbs]="breadcrumbs" current="{{ currentEditor }}"></fury-breadcrumbs>
    </fury-page-layout-header>
    <fury-page-layout-content class="padding-0" [@fadeInUp]>
        <mat-tab-group>
            <mat-tab label="data">
                <form [formGroup]="editorFormData" (ngSubmit)="onSubmit()">
                    <app-editor-buttons
                        [parentRoute]="parentRoute"
                        [isInvalid]="editorFormData.invalid"
                        [isDisabled]="isLoading"
                        [id]="claimBillingData?.id"
                        [date]="claimBillingData?.createdAt"
                        [canUseFormOperation]="canUseFormOperation">
                    </app-editor-buttons>
                </form>
            </mat-tab>
        </mat-tab-group>
    </fury-page-layout-content>
</fury-page-layout>
