$md-statia-blue: (
    50 : #e7e7ec,
    100 : #c3c3cf,
    200 : #9b9baf,
    300 : #72738e,
    400 : #545576,
    500 : #36375e,
    600 : #303156,
    700 : #292a4c,
    800 : #222342,
    900 : #161631,
    A100 : #7373ff,
    A200 : #4040ff,
    A400 : #0d0dff,
    A700 : #0000f2,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$md-statia-orange: (
    50 : #feefe4,
    100 : #fcd7bc,
    200 : #fabc90,
    300 : #f7a163,
    400 : #f68c41,
    500 : #f47820,
    600 : #f3701c,
    700 : #f16518,
    800 : #ef5b13,
    900 : #ec480b,
    A100 : #ffffff,
    A200 : #ffe9e3,
    A400 : #ffc2b0,
    A700 : #ffae96,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-statia-lightgrey: (
    50 : #f7f7f9,
    100 : #ececf1,
    200 : #dfdfe8,
    300 : #d2d2df,
    400 : #c9c9d8,
    500 : #bfbfd1,
    600 : #b9b9cc,
    700 : #b1b1c6,
    800 : #a9a9c0,
    900 : #9b9bb5,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #f1f1ff,
    A700 : #d8d8ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);