@import "var";
@import "../@fury/styles/core";

.icon-list {

    height: 350px;
    min-width: 75%;
    overflow-x: auto;
    text-align:justify;
    background-color: rgba(0, 0, 0, 0.04);
    border-radius: 4px 4px 0 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.42);
    padding: .75em .75em 0 .75em;

    .icon {
        display: inline-block;
        width: 18%;
        min-width: 120px;
        text-align: center;
        transition: background-color $swift-ease-out-duration $swift-ease-out-timing-function;
        margin: 3px 5px;
        border-radius: $border-radius;
        cursor: pointer;

        @include media-xs {
            width: 50%;
        }

        @include media-sm {
            width: 33%;
        }

        .mat-icon {
            font-size: 42px;
            height: 42px;
            width: 42px;
            margin: $spacing $spacing/1.5 $spacing/3;
        }

        .icon-name {
            display: block;
            padding-bottom: $spacing/2;

            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            @include mat-typography-level-to-styles($config, caption);
        }

        &:hover {
            color: $color-success;
            box-shadow: $box-shadow-statia;
        }

        &.icon-selected {
            color: $color-success;
            box-shadow: $box-shadow-statia;
            background-color: #FFFFFF;
        }
    }
}
