<fury-page-layout mode="simple">
    <fury-page-layout-header>
        <fury-breadcrumbs [@fadeInRight] [crumbs]="breadcrumbs" current="{{ currentEditor }}"></fury-breadcrumbs>
    </fury-page-layout-header>
    <fury-page-layout-content class="padding-0" [@fadeInUp]>
        <mat-tab-group>
            <mat-tab label="data">
                <form [formGroup]="editorFormData" (ngSubmit)="onSubmit()">
                    <app-editor-buttons
                        [parentRoute]="parentRoute"
                        [isInvalid]="editorFormData.invalid"
                        [isDisabled]="isLoading"
                        [id]="option?.id"
                        [canUseFormOperation]="canUseFormOperation">
                    </app-editor-buttons>
                    <div class="padding-top" fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="10px">
                        <mat-grid-list cols="4">
                            <mat-form-field>
                                <mat-label>name</mat-label>
                                <input matInput #name formControlName="name" type="text" placeholder="name" maxlength="15"
                                    required>
                            </mat-form-field>
                            <mat-form-field floatPlaceholder="never">
                                <mat-label>icon</mat-label>
                                <input matInput #icon formControlName="icon" [formControl]="iconCtrl"
                                    (change)="checkIconValue($event)" maxlength="50">
                            </mat-form-field>
                            <mat-checkbox matInput [checked]="false" color="primary" #onTableMenu formControlName="onTableMenu">
                                onTableMenu
                            </mat-checkbox>
                            <mat-checkbox matInput [checked]="false" color="primary" #onHeaderMenu formControlName="onHeaderMenu">
                                onHeaderMenu
                            </mat-checkbox>
                        </mat-grid-list>
                        <div class="icon-list" furyScrollbar>
                            <div class="icon"
                                *ngFor="let icon of filteredIcons$ | async"
                                [class.icon-selected]="icon==option.icon"
                                (click)="selectIcon(icon)">
                                <mat-icon>{{ icon }}</mat-icon>
                                <div class="icon-name">{{ icon }}</div>
                            </div>
                        </div>
                    </div>
                </form>
            </mat-tab>
        </mat-tab-group>
    </fury-page-layout-content>
</fury-page-layout>
