<div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="10px">
    <mat-form-field fxFlex="100%">
        <mat-label>{{ msgInput | translate }}</mat-label>
        <input
            [formControl]="inputFilter"
            is-active-directive
            matInput
            placeholder="{{ msgInput | translate }}"
        />
    </mat-form-field>
</div>
