<fury-page-layout mode="simple">
    <fury-page-layout-header>
        <fury-breadcrumbs [@fadeInRight] [crumbs]="breadcrumbs" current="{{ currentEditor }}"></fury-breadcrumbs>
    </fury-page-layout-header>
    <fury-page-layout-content class="padding-0" [@fadeInUp]>
        <mat-tab-group>
            <mat-tab label="data">
                <form [formGroup]="editorFormData" (ngSubmit)="onSubmit()">
                    <app-editor-buttons
                        [parentRoute]="parentRoute"
                        [isInvalid]="editorFormData.invalid"
                        [isDisabled]="isLoading"
                        [id]="user?.id"
                        [date]="user?.createdAt"
                        [canUseFormOperation]="canUseFormOperation">
                    </app-editor-buttons>
                    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="8px" *ngIf="formAction === 'edit'">
                        <mat-slide-toggle [checked]="false" color="primary" #isActive formControlName="isActive">
                            isActive
                        </mat-slide-toggle>
                        <mat-slide-toggle [checked]="false" color="primary" #isSystem formControlName="isSystem">
                            isSystem
                        </mat-slide-toggle>
                    </div>
                    <div class="padding-top" fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="8px">
                        <mat-form-field fxFlex="auto">
                            <mat-label>name</mat-label>
                            <input matInput #name formControlName="name" type="text" placeholder="name" maxlength="125"
                                autocomplete="new-name" required>
                        </mat-form-field>
                        <mat-form-field fxFlex="auto">
                            <mat-label>surnames</mat-label>
                            <input matInput #surnames formControlName="surnames" type="text" placeholder="surnames"
                                maxlength="255" required>
                        </mat-form-field>
                    </div>
                    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="8px">
                        <mat-form-field fxFlex="30%">
                            <mat-label>username</mat-label>
                            <input matInput #username formControlName="username" type="text" placeholder="username"
                                maxlength="45" required>
                        </mat-form-field>
                        <mat-form-field fxFlex="70%">
                            <mat-label>email</mat-label>
                            <input matInput #email formControlName="email" type="email" placeholder="email" maxlength="255"
                                required>
                            <mat-hint align="end" *ngIf="emailFormControl.errors?.pattern" class="color-warn">
                                Please, provide a valid email address
                            </mat-hint>
                        </mat-form-field>
                    </div>
                    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="8px">
                        <mat-form-field fxFlex="auto">
                            <mat-label>role</mat-label>
                            <mat-select placeholder="role" #roleId formControlName="roleId" required>
                                <mat-option *ngFor="let role of availableRoles" value="{{role.id}}">
                                    {{role.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field fxFlex="auto">
                            <mat-label>country</mat-label>
                            <input matInput type="text" placeholder="country" #countryName formControlName="countryName"
                                [matAutocomplete]="auto" tab-directive required>
                            <mat-autocomplete #auto="matAutocomplete" autoActiveFirstOption="true">
                                <mat-option *ngFor="let country of filteredCountries | async" [value]="country.name">
                                    {{country.name}}
                                </mat-option>
                            </mat-autocomplete>
                            <mat-hint align="end" *ngIf="countryFormControl.hasError('selectedValueError')" class="color-warn">
                                Selected country
                                <strong>"{{countryFormControl.errors.selectedValueError.value}}"</strong>
                                is not allowed
                            </mat-hint>
                        </mat-form-field>
                        <mat-form-field fxFlex="auto">
                            <mat-label>language</mat-label>
                            <mat-select placeholder="language" #languageId formControlName="languageId" required>
                                <mat-option *ngFor="let language of availableLanguages" value="{{language.id}}">
                                    {{ 'languageCode' + language.code | translate }}

                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field fxFlex="auto">
                            <mat-label>law firm</mat-label>
                            <mat-select placeholder="lawfirm" #lawFirmId formControlName="lawFirmId">
                                <mat-option *ngFor="let lawfirm of availableLawFirms" value="{{lawfirm.id}}">
                                    {{lawfirm.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="8px">
                        <mat-form-field fxFlex="50%" *ngIf="formAction === 'create'">
                            <mat-label>password</mat-label>
                            <input matInput #password formControlName="password" type="password" placeholder="password"
                                minlength="5" maxlength="25" autocomplete="new-password" required>
                            <mat-hint align="end" *ngIf="passwordFormControl.errors?.pattern" class="color-warn">
                                Please, provide a safe password, at least five characters including one number
                            </mat-hint>
                        </mat-form-field>
                        <mat-card class="fullwidth" *ngIf="formAction === 'edit'">
                            <mat-card-header>
                                <mat-card-title class="color-warn">Danger Zone</mat-card-title>
                            </mat-card-header>
                            <mat-card-content>
                                <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="8px">
                                    <mat-form-field fxFlex="auto">
                                        <mat-label>new password</mat-label>
                                        <input matInput #password formControlName="password" type="password"
                                            placeholder="new password" maxlength="255">
                                        <mat-hint align="end" *ngIf="passwordFormControl.errors?.pattern" class="color-warn">
                                            Please, provide a safe password, at least five characters including one number
                                        </mat-hint>
                                    </mat-form-field>
                                    <mat-form-field fxFlex="auto">
                                        <mat-label>confirm password</mat-label>
                                        <input matInput #confirmPassword formControlName="confirmPassword" type="password"
                                            placeholder="confirm password" maxlength="255">
                                        <mat-hint align="end" *ngIf="confirmPasswordFormControl.hasError('confirmPasswordError')"
                                            class="color-warn">
                                            Passwords do not match
                                        </mat-hint>
                                    </mat-form-field>
                                </div>
                            </mat-card-content>
                        </mat-card>
                    </div>
                </form>
            </mat-tab>
        </mat-tab-group>
    </fury-page-layout-content>
</fury-page-layout>
