<fury-page-layout mode="simple">
    <fury-page-layout-header>
        <fury-breadcrumbs [@fadeInRight] [crumbs]="breadcrumbs" current="{{ currentEditor }}"></fury-breadcrumbs>
    </fury-page-layout-header>
    <fury-page-layout-content class="padding-0" [@fadeInUp]>
        <mat-tab-group>
            <mat-tab label="data">
                <form [formGroup]="editorFormData" (ngSubmit)="onSubmit()">
                    <div class="padding-top" fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="10px"
                        fxLayoutAlign="end stretch">
                        <button mat-fab color="primary" type="button" [routerLink]="[parentRoute]" matTooltip="back">
                            <mat-icon>arrow_back</mat-icon>
                        </button>
                        <button mat-fab color="accent" type="submit">
                            <mat-icon>save</mat-icon>
                        </button>
                    </div>
                    <div class="padding-top" fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="10px">
                        <mat-form-field fxFlex="50%">
                            <mat-label>name</mat-label>
                            <input matInput #name formControlName="name" type="text" placeholder="name" maxlength="75" required>
                        </mat-form-field>
                        <mat-slide-toggle [checked]="false" color="primary" #isAdmin formControlName="isAdmin" fxFlex="50%">
                            isAdmin
                        </mat-slide-toggle>
                    </div>
                    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="10px">
                        <mat-form-field fxFlex="auto">
                            <mat-label>department</mat-label>
                            <input matInput type="text" placeholder="department" #departmentName
                                formControlName="departmentName" [matAutocomplete]="departamentsAutocomplete" tab-directive
                                required>
                            <mat-autocomplete #departamentsAutocomplete="matAutocomplete" autoActiveFirstOption="true">
                                <mat-option *ngFor="let department of filteredDepartments | async" [value]="department.name">
                                    {{department.name}}
                                </mat-option>
                            </mat-autocomplete>
                            <mat-hint align="end" *ngIf="departmentFormControl.hasError('selectedValueError')"
                                class="color-warn">
                                Selected department
                                <strong>"{{departmentFormControl.errors.selectedValueError.value}}"</strong>
                                is not allowed
                            </mat-hint>
                        </mat-form-field>
                        <mat-form-field fxFlex="auto">
                            <mat-label>mainMenu</mat-label>
                            <input matInput type="text" placeholder="mainMenu" #mainMenuName formControlName="mainMenuName"
                                [matAutocomplete]="menusAutocomplete" tab-directive>
                            <mat-autocomplete #menusAutocomplete="matAutocomplete" autoActiveFirstOption="true">
                                <mat-option *ngFor="let menu of filteredMenus | async" [value]="menu.name">
                                    {{menu.name}}
                                </mat-option>
                            </mat-autocomplete>
                            <mat-hint align="end" *ngIf="menuFormControl.hasError('selectedValueError')" class="color-warn">
                                Selected mainMenu
                                <strong>"{{menuFormControl.errors.selectedValueError.value}}"</strong>
                                is not allowed
                            </mat-hint>
                        </mat-form-field>
                    </div>
                </form>
            </mat-tab>
            <mat-tab label="available menus" *ngIf="formAction === 'edit'">
                <div class="padding-top" fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="10px"
                    fxLayoutAlign="end stretch">
                    <button mat-fab color="primary" type="button" [routerLink]="[parentRoute]" matTooltip="back">
                        <mat-icon>arrow_back</mat-icon>
                    </button>
                    <button mat-fab color="accent" type="submit" (click)="saveMenuConfiguration()">
                        <mat-icon>save</mat-icon>
                    </button>
                </div>
                <div class="padding-top" fxLayout="row wrap" fxLayoutAlign="flex-start" fxLayoutGap="10px"
                    fxLayout.lt-sm="column">
                    <ng-container *ngFor="let menu of menusOptions">
                        <div class="margin-bottom" fxFlex="0 1 calc(50% - 10px)" xFlex.lt-sm="100%">
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        <mat-checkbox matInput [checked]="menu.isSelected" color="primary"
                                            (click)="$event.stopPropagation()" (change)="menuChanged($event, menu, false)">
                                            {{ 'menuName' + menu.id | translate }}
                                        </mat-checkbox>
                                </mat-panel-title>
                                </mat-expansion-panel-header>

                                <div *ngFor="let subMenu of menu.children">
                                    <mat-checkbox matInput [checked]="subMenu.isSelected" color="primary"
                                        (change)="menuChanged($event, menu, subMenu)">
                                        {{ 'menuName' + subMenu.id | translate }}
                                    </mat-checkbox>
                                    <div *ngFor="let option of subMenu.options">
                                        <mat-checkbox class="padding-left" matInput (change)="optionChanged($event, option)"
                                            [checked]="option.isSelected" [disabled]="!option.isEnabled" color="primary">
                                            {{ 'optionName' + option.id | translate }}
                                        </mat-checkbox>
                                    </div>
                                </div>
                            </mat-expansion-panel>
                        </div>
                    </ng-container>
                </div>
            </mat-tab>
        </mat-tab-group>
    </fury-page-layout-content>
</fury-page-layout>