<fury-page-layout mode="simple">
    <fury-page-layout-header>
        <fury-breadcrumbs [@fadeInRight] [crumbs]="breadcrumbs" current="{{ currentEditor }}"></fury-breadcrumbs>
    </fury-page-layout-header>

    <fury-page-layout-content class="padding-0" [@fadeInUp]>
        <mat-tab-group>
            <mat-tab label="{{'tabData'| translate}}" *ngIf="editorFormData">
                <form [formGroup]="editorFormData" (ngSubmit)="onSubmit()">
                    <app-editor-buttons
                        [parentRoute]="parentRoute"
                        [id]="lawFirm?.id"
                        [date]="lawFirm?.updatedAt"
                        [isInvalid]="editorFormData.invalid"
                        [isDisabled]="isLoading"
                        [canUseFormOperation]="canUseFormOperation">
                    </app-editor-buttons>

                    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="8px">
                        <section class="mat-typography">
                            <h3>{{'titleBasicData' | translate}}</h3>
                        </section>
                    </div>
                    <mat-divider></mat-divider>

                    <div class="padding-top" fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="10px">
                        <mat-form-field fxFlex="20%">
                            <mat-label>{{'menuPropertyname' | translate}}</mat-label>
                            <input matInput #name formControlName="name" type="text"
                                placeholder="{{'menuPropertyname' | translate}}" maxlength="125" required>
                                <mat-error align="end" *ngIf="editorFormData.get('name').hasError('selectedDuplicateValueError')">
                                    {{'msgDuplicateKeyColon' | translate}}&nbsp;
                                    <strong >
                                        {{'name' | translate}}&nbsp;
                                        {{'countryName' | translate}}&nbsp;
                                    </strong>
                                </mat-error>
                        </mat-form-field>
                        <mat-form-field fxFlex="20%">
                            <mat-label>{{'menuPropertywebsite' | translate}}</mat-label>
                            <input matInput #website formControlName="website" type="url"
                                placeholder="{{'menuPropertywebsite' | translate}}" maxlength="125">
                        </mat-form-field>
                    </div>
                    <div class="padding-top" fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="10px">
                        <mat-form-field fxFlex="20%">
                            <mat-label>{{'menuPropertyemail' | translate}}</mat-label>
                            <input matInput #email formControlName="email" type="email"
                                placeholder="{{'menuPropertyemail' | translate}}" maxlength="255" required>
                            <mat-error align="end" *ngIf="editorFormData.get('email').hasError('pattern')">
                                {{'msgErrorInvalidData' | translate}}&nbsp;
                                <strong>{{'menuPropertyemail' | translate}}</strong>
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field fxFlex="20%">
                            <mat-label>{{'menuPropertyphone' | translate}}</mat-label>
                            <input matInput #phone formControlName="phone" type="phone"
                                placeholder="{{'menuPropertyphone' | translate}}" maxlength="45" required>
                        </mat-form-field>
                        <mat-form-field fxFlex="20%">
                            <mat-label>{{'menuPropertyfax' | translate}}</mat-label>
                            <input matInput #fax formControlName="fax" type="fax"
                                placeholder="{{'menuPropertyfax' | translate}}" maxlength="45">
                        </mat-form-field>
                    </div>
                    <div class="padding-top" fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="10px">
                        <mat-form-field fxFlex="30%">
                            <mat-label>{{'menuPropertyaddress' | translate}}</mat-label>
                            <input matInput #address formControlName="address" type="text"
                                placeholder="{{'menuPropertyaddress' | translate}}" maxlength="125">
                        </mat-form-field>
                        <mat-form-field fxFlex="20%">
                            <mat-label>{{'menuPropertycountry' | translate}}</mat-label>
                            <input matInput #countryName formControlName="countryName"
                                placeholder="{{'menuPropertycountry' | translate}}" type="text"
                                [matAutocomplete]="countryAutoComplete" tab-directive required>
                            <mat-autocomplete #countryAutoComplete="matAutocomplete" autoActiveFirstOption="true">
                                <mat-option *ngFor="let country of filteredCountries | async" [value]="country.name">
                                    {{country.name | translate}}
                                </mat-option>
                            </mat-autocomplete>
                            <mat-error align="end"
                                *ngIf="editorFormData.get('countryName').hasError('selectedValueError')">
                                {{'msgSelectedCountry' | translate}}
                                <strong>
                                    "{{editorFormData.get('countryName').errors.selectedValueError.value}}"
                                </strong>
                                &nbsp;{{'msgIsNotAllowed' | translate}}
                            </mat-error>
                            <mat-error align="end" *ngIf="editorFormData.get('countryName').hasError('selectedDuplicateValueError')">
                                {{'msgDuplicateKeyColon' | translate}}&nbsp;
                                <strong >
                                    {{'name' | translate}}&nbsp;
                                    {{'countryName' | translate}}&nbsp;
                                </strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </form>
            </mat-tab>
            <mat-tab label="{{RELATED_ENTITIES?.LAWFIRM?.ADMINISTRATORS| translate}}" *ngIf="formAction === 'edit'">
                <ng-template matTabContent>
                    <app-table-related-data
                        [canUseFormOperation]="canUseFormOperation"
                        [parentRoute]="parentRoute"
                        [currentTab]="RELATED_ENTITIES?.LAWFIRM?.ADMINISTRATORS"
                        [idRelatedEntity]="this.id"
                        [isLoading]="isLoading"
                        [sizePaginator]="SIZES.LARGE"
                        (allDataFromTable)="setUsers($event)"
                        [forceToReloadData]="forceToReloadData"
                        (saveButtonClickedEvent)="saveButtonEvent($event)"
                    ></app-table-related-data>
                </ng-template>
            </mat-tab>
        </mat-tab-group>
    </fury-page-layout-content>
</fury-page-layout>
