<fury-page-layout mode="simple">
    <fury-page-layout-header>
        <fury-breadcrumbs [@fadeInRight] [crumbs]="breadcrumbs" current="{{ currentEditor }}"></fury-breadcrumbs>
    </fury-page-layout-header>
    <fury-page-layout-content class="padding-0" [@fadeInUp]>
        <ng-container *ngIf="claimId; else noHaveClaimId">

            <ng-container *ngIf="editorFormData">
                <form [formGroup]="editorFormData" (ngSubmit)="onSubmit()">
                    <app-editor-buttons
                        [isInvalid]="isInvalidForm"
                        [isDisabled]="isLoading"
                        [canUseFormOperation]="canUseFormOperation"
                        [parentRoute]="parentRouteClaimEditor"
                        [textButtonSubmit]="'generate'">
                    </app-editor-buttons>

                    <div fxLayout="column" fxLayoutGap.gt-sm="8px">
                        <section class="mat-typography">
                            <h4>{{'titleMainClaim' | translate}}</h4>
                        </section>
                    </div>
                    <mat-divider></mat-divider>

                    <div class="padding-top" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start stretch">
                        <mat-form-field fxFlex="20%" class="cursor-not-allowed">
                            <mat-label>{{'menuPropertyclaimId' | translate}}</mat-label>
                            <input matInput formControlName="claimId" type="text" readonly
                            placeholder="{{'menuPropertyclaimId' | translate}}" class="cursor-not-allowed">
                        </mat-form-field>

                        <mat-form-field fxFlex="20%" class="cursor-not-allowed">
                            <mat-label>{{'menuPropertydisruptionTypeId' | translate}}</mat-label>
                            <input matInput #disruptionTypeId formControlName="disruptionTypeId" type="text" readonly
                            placeholder="{{'menuPropertydisruptionTypeId' | translate}}" class="cursor-not-allowed">
                        </mat-form-field>

                        <mat-form-field fxFlex="20%" class="cursor-not-allowed">
                            <mat-label>{{'menuPropertylawsuiteTypeId' | translate}}</mat-label>
                            <input matInput #lawsuiteTypeId formControlName="lawsuiteTypeId" type="text" readonly
                            placeholder="{{'menuPropertylawsuiteTypeId' | translate}}" class="cursor-not-allowed">
                        </mat-form-field>
                    </div>


                    <div class="padding-top" fxLayout="column" fxLayoutGap.gt-sm="8px">
                        <section class="mat-typography">
                            <h3>{{'titleGenerateDemand' | translate}}</h3>
                        </section>
                    </div>
                    <mat-divider></mat-divider>

                    <div class="padding-top" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start stretch">
                        <mat-form-field fxFlex="20%">
                            <mat-label>{{'menuPropertyamountRequested' | translate}}</mat-label>
                            <input matInput #amountRequested formControlName="amountRequested" type="number"
                                placeholder="{{'menuPropertyamountRequested' | translate}}" pattern="^\d*(\.\d{0,2})?$">
                        </mat-form-field>
                    </div>

                    <div class="padding-top" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start stretch">
                        <mat-checkbox fxFlex="20%"
                            color="primary"
                            [formControl]="editorFormData.get('isNoShow')"
                            [labelPosition]="'before'"
                            >{{'menuPropertyisNoShow' | translate}}
                        </mat-checkbox>

                        <mat-checkbox fxFlex="20%"
                            color="primary"
                            [formControl]="editorFormData.get('isOverseas')"
                            [labelPosition]="'before'"
                            >{{'menuPropertyisOverseas' | translate}}
                        </mat-checkbox>

                        <mat-checkbox fxFlex="20%"
                            color="primary"
                            [formControl]="editorFormData.get('hasFlightstats')"
                            [labelPosition]="'before'"
                            >{{'menuPropertyhasFlightstats' | translate}}
                        </mat-checkbox>
                    </div>

                    <div [class.hidden]="haveCompanions === true">
                        <h4 class="padding-top">
                            {{'titleNoHaveCompanions' | translate}}
                        </h4>
                        <mat-divider></mat-divider>
                    </div>

                    <div [class.hidden]="haveCompanions === false" class="padding-top" fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="start stretch">
                        <app-table-related-data
                            [showSearch]="false"
                            [currentTab]="COMPANIONS"
                            [idRelatedEntity]="this.claimId"
                            [title]="'titleCompanions'"
                            [sizePaginator]="SIZES.MIDDLE"
                            (allDataFromTable)="setCompanions($event)">
                        </app-table-related-data>
                    </div>

                    <div [class.hidden]="haveCompanions === false" class="padding-top" fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="start stretch">
                        <app-table-related-data
                            [showButtonBack]="false"
                            [currentTab]="POSSIBLE_COMPANIONS"
                            [idRelatedEntity]="this.claimId"
                            [title]="'titlePossibleCompanions'"
                            [sizePaginator]="SIZES.MIDDLE"
                            [isLoading]="isLoading"
                            (allDataFromTable)="setCompanions($event)">
                        </app-table-related-data>
                    </div>
                </form>
            </ng-container>
        </ng-container>

    </fury-page-layout-content>
</fury-page-layout>


<ng-template #noHaveClaimId>
    <app-editor-buttons [parentRoute]="parentRouteClaimEditor" [canUseFormOperation]="false"></app-editor-buttons>
    <h4 class="color-warn">{{'titleNoHaveClaimId' | translate}}</h4>
</ng-template>
