<div matDialogTitle>{{ title | translate }}</div>

<mat-dialog-content>
   <p *ngFor="let message of messages">{{message | translate}}</p>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button type="button" mat-button color="accent" (click)="confirm()">{{btnContinue | translate}}</button>
    <button type="button" mat-button color="primary" (click)="cancel()">{{btnCancel | translate}}</button>
</mat-dialog-actions>
