<fury-page-layout mode="simple">
    <fury-page-layout-header>
        <fury-breadcrumbs [@fadeInRight] [crumbs]="breadcrumbs" current="{{ currentEditor }}"></fury-breadcrumbs>
    </fury-page-layout-header>
    <fury-page-layout-content class="padding-0" [@fadeInUp]>
        <mat-tab-group>
            <mat-tab label="data">
                <form [formGroup]="editorFormData" (ngSubmit)="onSubmit()" *ngIf="editorFormData">
                    <app-editor-buttons
                        [parentRoute]="parentRoute"
                        [isInvalid]="editorFormData.invalid"
                        [isDisabled]="isLoading"
                        [id]="court?.id"
                        [date]="court?.updatedAt"
                        [canUseFormOperation]="canUseFormOperation">
                    </app-editor-buttons>

                    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="8px">
                        <section class="mat-typography">
                            <h3>{{'titleBasicInfo' | translate}}</h3>
                        </section>
                    </div>

                    <div class="padding-top" fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="10px">
                        <mat-form-field fxFlex="25%"
                            [ngClass]="{'cursor-not-allowed': readOnly, 'cursor-auto': !readOnly}">
                            <mat-label>{{'menuPropertycountryName' | translate}}</mat-label>
                            <input matInput #countryName formControlName="countryName"
                                id="countries"
                                [ngClass]="{'cursor-not-allowed': readOnly, 'cursor-auto': !readOnly}"
                                placeholder="{{'menuPropertycountryName' | translate}}" type="text"
                                [matAutocomplete]="countriesAuto"
                                readonly="{{readOnly}}"
                                tab-directive
                                required>
                            <mat-autocomplete #countriesAuto="matAutocomplete"
                                autoActiveFirstOption="true"
                                (optionSelected)="optionCountrySelected($event)">
                                <mat-option *ngFor="let country of filteredCountries | async" [value]="country.name">
                                    {{country.name | translate}}
                                </mat-option>
                            </mat-autocomplete>
                            <mat-error align="end"
                                *ngIf="editorFormData.get('countryName').hasError('selectedValueError')">
                                {{'msgSelectedCountry' | translate}}
                                <strong>
                                    "{{editorFormData.get('countryName').errors.selectedValueError.value}}"
                                </strong>
                                &nbsp;{{'msgIsNotAllowed' | translate}}
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field fxFlex="25%"
                            [ngClass]="{'cursor-not-allowed': readOnly, 'cursor-auto': !readOnly}">
                            <mat-label>{{'menuPropertycityName' | translate}}</mat-label>
                            <input matInput #cityName formControlName="cityName"
                                id="cityName"
                                [ngClass]="{'cursor-not-allowed': readOnly, 'cursor-auto': !readOnly}"
                                placeholder="{{'menuPropertycityName' | translate}}" type="text"
                                [matAutocomplete]="citiesAuto"
                                readonly="{{readOnly}}"
                                tab-directive
                                required>
                            <mat-autocomplete #citiesAuto="matAutocomplete" autoActiveFirstOption="true">
                                <mat-option *ngFor="let city of filteredCities | async" [value]="city.name">
                                    {{city.name | translate}}
                                </mat-option>
                            </mat-autocomplete>
                            <mat-error align="end"
                                *ngIf="editorFormData.get('cityName').hasError('selectedValueError')">
                                {{'msgSelectedCity' | translate}}
                                <strong>
                                    "{{editorFormData.get('cityName').errors.selectedValueError.value}}"
                                </strong>
                                &nbsp;{{'msgIsNotAllowed' | translate}}
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field fxFlex="25%"
                            [ngClass]="{'cursor-not-allowed': readOnly, 'cursor-auto': !readOnly}">
                            <mat-label>{{'menuPropertycourtTypeName' | translate}}</mat-label>
                            <input matInput #courtTypeName formControlName="courtTypeName"
                                id="courtTypeName"
                                [ngClass]="{'cursor-not-allowed': readOnly, 'cursor-auto': !readOnly}"
                                placeholder="{{'menuPropertycourtTypeName' | translate}}" type="text"
                                [matAutocomplete]="CourtTypeNameAuto"
                                readonly="{{readOnly}}"
                                tab-directive
                                required >
                            <mat-autocomplete #CourtTypeNameAuto="matAutocomplete" autoActiveFirstOption="true" >
                                <mat-option *ngFor="let courtType of filteredCourtTypes | async"
                                            [value]="courtType.name">
                                    {{courtType.name | translate}}
                                </mat-option>
                            </mat-autocomplete>
                            <mat-error align="end"
                                *ngIf="editorFormData.get('courtTypeName').hasError('selectedValueError')">
                                {{'msgSelectedCourtTypeName' | translate}}
                                <strong>
                                    "{{editorFormData.get('courtTypeName').errors.selectedValueError.value}}"
                                </strong>
                                &nbsp;{{'msgIsNotAllowed' | translate}}
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field fxFlex="25%"
                            [ngClass]="{'cursor-not-allowed': readOnly, 'cursor-auto': !readOnly}">
                            <mat-label>{{'menuPropertynumber' | translate}}</mat-label>
                            <input  matInput #number
                                    formControlName="number"
                                    type="text"
                                    [ngClass]="{'cursor-not-allowed': readOnly, 'cursor-auto': !readOnly}"
                                    autocomplete="off"
                                    readonly="{{readOnly}}"
                                    placeholder="{{'menuPropertynumber' | translate}}" maxlength="255" required>
                            <mat-error align="end"
                                *ngIf="editorFormData.get('number').hasError('selectedValueError')">
                                {{'msgDuplicateKey' | translate}}
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <mat-divider></mat-divider>

                    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="8px">
                        <section class="mat-typography">
                            <h3>{{'titleCourtInfo' | translate}}</h3>
                        </section>
                    </div>

                    <div class="padding-top" fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="10px">
                        <mat-form-field fxFlex="25%">
                            <mat-label>{{'menuPropertyaddress' | translate}}</mat-label>
                            <input matInput  #address formControlName="address" type="text"
                                placeholder="{{'menuPropertyaddress' | translate}}" maxlength="255">
                        </mat-form-field>

                        <mat-form-field fxFlex="25%">
                            <mat-label>{{'menuPropertyPostalCode' | translate}}</mat-label>
                            <input matInput   #postalCode formControlName="postalCode" type="text"
                                placeholder="{{'menuPropertyPostalCode' | translate}}" maxlength="15">
                        </mat-form-field>

                        <mat-form-field fxFlex="25%">
                            <mat-label>{{'menuPropertyphone' | translate}}</mat-label>
                            <input matInput #phone  formControlName="phone" type="text"
                                placeholder="{{'menuPropertyphone' | translate}}" maxlength="50">
                        </mat-form-field>


                        <mat-form-field fxFlex="25%">
                            <mat-label>{{'menuPropertyfax' | translate}}</mat-label>
                            <input matInput #fax  formControlName="fax" type="text"
                                placeholder="{{'menuPropertyfax' | translate}}" maxlength="50">
                        </mat-form-field>
                    </div>
                </form>
            </mat-tab>
        </mat-tab-group>
    </fury-page-layout-content>
</fury-page-layout>
